@*@{
        ViewBag.Title = "DETALLE DE LA REQUISICIÓN";

    }*@

@*DATATABLES*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
@*CSS only*@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
@*JavaScript Bundle with Popper*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="~/JavaScript/jquery.tablesorter.js" type="text/javascript"></script>
@*SWAL FIRE*@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h5>REQUISICIONES A CC</h5>
<br />

<style>
    table.dataTable {
        width: 100% !important;
    }

    .uanl-logo {
        width: 10vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }

    #contenido {
        margin: 0px,0px;
    }

    .btn-space {
        margin-right: 5px;
    }

    table.dataTable {
        width: 100% !important;
    }

    #NuevaRequiModal .modal-dialog {
        height: 100vh;
        margin-top: 0px;
    }

    /*#NuevaRequiModal .modal-content {
        height: 100vh;
    }*/

</style>

<div class="col-md-12 text-center m-auto pl-3 pr-3 pt-1 pb-0 inputBarcode" id="msform">
    <img src="~/Imagenes/Servicios Medicos_Mesa de trabajo 1.png" class="uanl-logo" />
</div>

<div class="btn-toolbar">
    <button type="button" class="btn btn-primary btn-space" onclick="NuevaRequi()">NUEVA REQUISICIÓN/BORRADOR</button>
    <button type="button" class="btn btn-outline-primary" onclick="TablaBorradores()">BORRADORES ELABORADOS</button>
</div>

<div>
    <table class="table table-striped table-hover" id="example">
        <thead>

            <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Usuario Elaboró</th>
                <th>Estatus Contrato</th>
                <th>Detalle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="NuevaRequiModal" tabindex="-1" role="dialog" aria-labelledby="NuevaRequiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row" id="contenido">
                    <h5 class="text-center m-0" style="color: blue; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Medicamentos</h5>
                </div>

                <div class="row">
                    <table class="table table-striped table-hover" id="tblGenerarRequi2">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Descripción</th>
                                <th>Existencia</th>
                                <th>Licitación</th>
                                <th>Compendio</th>
                                <th>Agregar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <br />
                <div class="row" id="contenido">
                    <h5 class="text-center" style="color: blue; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Requisición</h5>
                </div>

                <div class="row">
                    <table class="table table-striped table-hover" id="tblGenerarRequi">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Descripción</th>
                                <th>Compendio</th>
                                <th>Cantidad</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="row m-0 form-inline">
                    <div class="row m-0">
                        <div class="row btn-toolbar">
                            <div class="row">
                                <div class="form-check">
                                    <label>
                                        <input type="checkbox" id="cb1" name="ConContrato"> Con Contrato
                                    </label>
                                </div>
                            </div>

                            @*<div class="row">
                                <div class="col-4">
                                    <button type="button" id="btnGenerarRequi" class="btn btn-success btn-space">Generar Requisición</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" id="btnGenerarBorrador" class="btn btn-primary btn-space">Generar Borrador</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" id="Cancelar" class="btn btn-secondary">Cancelar</button>
                                </div>
                            </div>*@

                            <div class="row">
                                <div class="btn-toolbar">
                                    <button type="button" id="btnGenerarRequi" class="btn btn-success btn-space">Generar Requisición</button>
                                    <button type="button" id="btnGenerarBorrador" class="btn btn-primary btn-space">Generar Borrador</button>
                                    <button type="button" id="Cancelar" class="btn btn-secondary">Cancelar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetalleRequiModal" tabindex="-1" role="dialog" aria-labelledby="NuevaRequiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body imprimir-content">

                <div class="row m-0 text-center pt-4">

                    <div class="col-2 m-auto imprimirUanl">
                        <img src="~/Imagenes/uanl.png" />
                    </div>

                    <div class="col-8 m-auto imprimirTitulo">
                        <h5>UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN</h5>
                        <div style="        border: 0.5px solid rgb(217, 220, 217);"></div>
                        <h5>SERVICIOS MÉDICOS</h5>
                    </div>

                    <div class="col-2 m-auto imprimirLogo">
                        <img src="~/Imagenes/Servicios Medicos_Mesa de trabajo 1.png" style="width:130px; height:66px" /><br />
                    </div>

                </div>

                <div class="row" id="contenido">
                    <h5 class="text-center imprimirTitulo" style="color: blue; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Requisición</h5>
                </div>
                <br />

                <div class="row" id="imprimir">
                    <div class="col-md-9">
                        <button type="button" style="width:100%; background-color:rgba(0,74,143,1);" class="btn btn-success imprimir">Imprimir</button>
                    </div>

                    <div class="col-md-3">

                        @*<button type="button" class="btn btn-success" id="btnExcel1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v4h10V2a1 1 0 0 0-1-1H4zm9 6h-3v2h3V7zm0 3h-3v2h3v-2zm0 3h-3v2h2a1 1 0 0 0 1-1v-1zm-4 2v-2H6v2h3zm-4 0v-2H3v1a1 1 0 0 0 1 1h1zm-2-3h2v-2H3v2zm0-3h2V7H3v2zm3-2v2h3V7H6zm3 3H6v2h3v-2z" />
                                </svg> Generar Excel
                            </button>*@

                        <div>
                            <a class="btn btn-success text-white" id="Xcel2">Descargar Excel</a>
                        </div>

                    </div>

                </div>

                <div>

                    <table id="tblDetalleRequi" class="table table-striped table-hover">

                        <thead>

                            <tr>
                                <th>
                                    <h10 style="color:green">Folio:  </h10><br />
                                    <a style="font-size:13px" id="NoRequi"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Fecha: </h10><br />
                                    <a style="font-size:13px" id="FechaRequi"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Fecha Impresión: </h10><br />
                                    <a style="font-size:13px" id="Fecha"></a>
                                </th>
                                @*<th></th>*@
                                <th COLSPAN="2">
                                    <h10 id="Contrato" style="color:green">Con Contrato </h10><br />
                                    <a style="font-size: 13px" id="EstContrato"></a>
                                </th>
                            </tr>

                            <tr>
                                <th style="width:10px"></th>
                                <th>Compendio</th>
                                <th>Clave Med.</th>
                                <th>Descripción</th>
                                <th>Cant. Solicitada</th>
                            </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

                <div class="row m-0 pt-2 text-center" id="pie" style=" border-collapse: collapse; border-spacing: 0;">

                    <table id="firmas" align="center" BORDER="1">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>Elaboró.</em></a><br />
                                        <a id="UsRequi"></a>
                                        <br />
                                        <br />
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>Almacén Farmacia.</em></a><br />
                                        <a>Evelin Ramírez<br /> Lozano</a>
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>Adquisiciones.</em></a><br />
                                        <a>Marcela Valdez<br /> Flores</a><br />
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>Dirección.</em></a><br />
                                        <a>Raúl Gabino<br /> Salazar Montalvo</a>
                                    </strong>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

<script src='https://code.jquery.com/jquery-3.5.1.js'></script>
<script src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js'></script>

<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.1/dist/jquery.table2excel.min.js"></script>

<script>
    $("#Xcel2").click(function () {
        $("#tblDetalleRequi").table2excel({
            exclude: ".xls",
            filename: 'Requisicion.xls'
        });
    });

    //$("#btnExcel1").click(function () {
    //    fnExcelReport1();
    //});

</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js'></script>

<script>
    $('.imprimir').on('click', function () {
        $.print(".imprimir-content");
    });
</script>

<script>
    //function fnExcelReport1() {
    //    var uri = 'data:application/vnd.ms-excel;base64,'
    //        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    //        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
    //        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

    //    var table = 'tblDetalleRequi';
    //    var name = 'nombre_hoja_calculo';

    //    if (!table.nodeType) table = document.getElementById(table)
    //    var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
    //    window.location.href = uri + base64(format(template, ctx))
    //}
</script>

<script>

    var ListaSustancias = [];

    $(document).ready(function () {

        //$('#example').DataTable({
        //    responsive: true,
        //    searching: false,
        //    info: true,
        //    lengthChange: false,
        //    pageLength: 20,
        //    language: {
        //        "zeroRecords": " ",
        //        "info": "_TOTAL_  Requisiciones",
        //        "infoEmpty": "",
        //        "paginate": {
        //            "first": "Primero",
        //            "last": "Último",
        //            "next": "Siguiente",
        //            "previous": "Anterior",
        //        },
        //        "select": {
        //            "rows": " %d filas seleccionadas"
        //        },
        //    }
        //});


        $('#example thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#example thead');

        var table = $('#example').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });



        $('#tblGenerarRequi2').DataTable({
            responsive: true,
            searching: true,
            info: true,
            deferRender: true,
            scroller: true,
            scrollColapse: true,
            lengthChange: false,
            language: {
                "zeroRecords": " ",
                "search": "Buscar:",
                "info": "",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        $('#tblGenerarRequi').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: true,
            scrollColapse: true,
            lengthChange: false,
            paging: false,
            language: {
                "zeroRecords": "Lista vacía",
                "info": "",
                "infoEmpty": "",
                "paginate": {
                    "first": "",
                    "last": "",
                    "next": "",
                    "previous": "",
                }
            }
        });

        ObtenerRequis();
    });

    function TablaBorradores() {
        window.location.href = '../Requisicion/BorradorRequisicion'
    }

    function NuevaRequi() {
        $('#NuevaRequiModal').modal("show");
    }

    $('#NuevaRequiModal').on('shown.bs.modal', function () {
        LlenaSustanciaModal();
    })

    function LlenaSustanciaModal() {
        $.ajax({
            url: '@Url.Action("ObtenerSustanciasModal", "Requisicion")',
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
                else {
                    LlenaTablaSustanciaModal(data.SUSTANCIAS);
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    }

    function LlenaTablaSustanciaModal(ListaSustancias) {
        var tableVenta = $('#tblGenerarRequi2').DataTable();
        tableVenta.destroy();

        tableVenta = $('#tblGenerarRequi2').DataTable({
            responsive: true,
            searching: true,
            info: true,
            deferRender: true,
            scroller: true,
            scrollColapse: true,
            scrollY: 200,
            lengthChange: false,
            language: {
                "zeroRecords": " ",
                "search": "Buscar:",
                "info": "_TOTAL_  Sustancias",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: ListaSustancias,
            columns: [
                { 'data': 'Clave', className: "text-center" },
                { 'data': 'Descripcion', className: "text-center" },
                { 'data': 'Existencia', className: "text-center" },
                { "data": "Licitacion", className: "text-center", render: function (data) { return (data == 1 ? '<h8 style="color:black; ">' + "LICITADO" + '</h8>' : '<h8 style="color:black; ">' + "NO LICITADO" + '</h8>'); } },
                //{ 'data': 'Compendio', className: "text-center" },
                { "data": "Compendio", className: "text-center", render: function (data) { return (data == null ? '<h8 style="color:black; ">' + "SIN COMPENDIO" + '</h8>' : '<a>' + data + '</a>'); } },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Agregar a lista" id="AgregarRequi" class="btn btn-primary btn-sm fa fa-check " data-toggle="modal"></button>',
                    "target": -2
                }
            ]
        });

        $('.dataTables_filter input').on('keyup', function (e) {
            var value = $('.dataTables_filter input').val();

            var tr = $(this).closest('tr');
            var row = $('#tblGenerarRequi2').DataTable().row(tr);

            var count = $("#tblGenerarRequi2").dataTable().fnSettings().aoData.length;

            var keycode = e.keyCode || e.which;
            if (keycode == 13) {

                if (count = 1)
                    AgregarALista(value)
            }
        });

    }

    $('#tblGenerarRequi2 tbody').on('click', '#AgregarRequi', function () {
        var tr = $(this).closest('tr');
        var row = $('#tblGenerarRequi2').DataTable().row(tr);
        var Clave = row.data().Clave;

        AgregarALista(Clave)
    });

    function AgregarALista(Clave) {
        $.ajax({
            url: '@Url.Action("BuscarSustancia2", "Requisicion")',
            method: 'POST',
            dataType: 'json',
            data: { Clave: Clave },
             success: function (data) {
                 $.grep(data.SUSTANCIAS, function (item) {
                    var Insertar = true;
                    $.grep(ListaSustancias, function (itemEnLista) {
                        if (item.Clave == itemEnLista.Clave) {
                            Insertar = false;
                        };
                    });
                    if (Insertar) {
                        item.CANTIDAD = 1;
                        ListaSustancias.push(item);
                    }
                     Llena2(ListaSustancias);

                     Swal.fire({
                         position: 'top-end',
                         icon: 'success',
                         title: 'SE AGREGÓ EL MEDICAMENTO',
                         showConfirmButton: false,
                         timer: 700
                     })

                });
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    }

    function Llena2(ListaSustancias) {
        var tablePermisos = $('#tblGenerarRequi').DataTable();
        tablePermisos.destroy();
        tablePermisos = $('#tblGenerarRequi').DataTable({
            //responsive: true,
            //searching: false,
            //info: true,
            //deferRender: true,
            //scroller: true,
            //scrollColapse: true,
            //scrollY: 200,
            //lengthChange: false,

            paging: false,
            ordering: false,

            searching: false,
            responsive: true,
            lengthChange: false,
            data: ListaSustancias,
            language: {
                "zeroRecords": "",
                "info": "_TOTAL_  Sustancias",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            columns: [
                { 'data': 'Clave', className: "text-center" },
                { 'data': 'descripcion_21', className: "text-center" },
                //{ 'data': 'Compendio', className: "text-center" },
                { "data": "Compendio", className: "text-center", render: function (data) { return (data == null ? '<h8 style="color:black; ">' + "SIN COMPENDIO" + '</h8>' : '<a>' + data + '</a>'); } },
                { 'data': 'CANTIDAD', className: "text-center", render: function (data) { return "<input id='InputCantidad' style='width:70px; border:0; border-bottom:1px solid;  background: transparent;' type='number' min='1' max='2000' value='" + data + "'></input>" } },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Eliminar" id="botonDelete" class="btn btn-danger btn-sm fa fa-times" data-toggle="modal"></button>',
                    "target": -2
                }
            ]
        });
    }

    $('#tblGenerarRequi tbody').on('change', '#InputCantidad', function () {
        var tr = $(this).closest('tr');
        var row = $('#tblGenerarRequi').DataTable().row(tr);
        row.data().CANTIDAD = $(this).val();
    }).change();

    $('#tblGenerarRequi tbody').on('click', '#botonDelete', function () {
        var tr = $(this).closest('tr');
        var row = $('#tblGenerarRequi').DataTable().row(tr);

        ListaSustancias.splice(ListaSustancias.indexOf(row.data()), 1);

        Llena2(ListaSustancias);

        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: 'SE ELIMINÓ EL MEDICAMENTO',
            showConfirmButton: false,
            timer: 1500
        })

    });

    $('#btnGenerarBorrador').on('click', function () {
        if (ListaSustancias.length > 0) {
            TablaValida = true;

            $.grep(ListaSustancias, function (itemEnLista) {
                if (itemEnLista.CANTIDAD <= 0 || itemEnLista.CANTIDAD == "" || itemEnLista.CANTIDAD == "0") {
                    TablaValida = false;
                };
            });

            if (TablaValida) {

                var EstatusContrato = "";
                if (document.getElementById('cb1').checked) {
                    //EstatusContrato = "UANL-DGA-DA-022/08/2022";
                    EstatusContrato = "Con Contrato";
                } else {
                    EstatusContrato = "Sin Contrato";
                }

                $.ajax({
                    url: '@Url.Action("GenerarBorradorRequi", "Requisicion")',
                    method: 'POST',
                    dataType: 'json',
                    data: { ListaSustanciasBorrador: ListaSustancias, StatusContrato: EstatusContrato },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7)
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                willClose: () => {
                                    location.reload();
                                }
                            })
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'Borrador de Requisición no generado'
                        });
                        location.reload();
                    }
                });
            } else
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                    text: 'No puede haber cantidades en cero'
                });
        } else {
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
                text: 'No hay medicamentos en la lista'
            });
        }
    });

    $('#Cancelar').on('click', function () {
        location.reload();
    });

    function ObtenerRequis() {
        $.ajax({
            url: '@Url.Action("ObtenerRequisInicio", "Requisicion")',
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
                else {
                    LlenaTablaRequis(data.REQUIS);
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    }

    function LlenaTablaRequis(ListaRequis) {
        var table = $('#example').DataTable();
        table.destroy();

        table = $('#example').DataTable({
            responsive: true,
            searching: false,
            paging: false,
            info: true,
            deferRender: true,
            scroller: false,
            scrollColapse: true,
            //scrollY: 420,
            lengthChange: false,
            language: {
                "zeroRecords": " ",
                "search": "Buscar:",
                "info": "_TOTAL_  Requisiciones",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: ListaRequis,
            "order": [[5, 'desc']],
            columns: [
                { 'data': 'Clave', className: "text-center" },
                { 'data': 'Fecha', className: "text-center" },
                { 'data': 'Id_User', className: "text-center" },
                //{ "data": "EstatusContrato", className: "text-center", render: function (data) { return (data === 'UANL-DGA-DA-022/08/2022' ? '<h8 style="color:black; ">' + "SI" + '</h8>' : '<h8 style="color:black; ">' + "NO" + '</h8>'); } },
                {
                    "data": "EstatusContrato", className: "text-center", render: function (data) {
                        if (data == 'Sin Contrato') {
                            return '<h8 style="color:black; ">' + "NO" + '</h8>';
                        } else {
                            return '<h8 style="color:black; ">' + "SI" + '</h8>';
                        }
                    }
                },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Ver Detalle" id="VerDetalle" class="btn btn-primary fa fa-book " data-toggle="modal" ></button>',
                    "target": -2
                },
                { "data": "FechaRequisicion" }
            ],
            columnDefs: [
                { "visible": false, "targets": 5 },
            ],

            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        

        });
    }

    //-------------------------------------  DETALLE DE REQUISICIÓN -------------------------------

    var FyH;

    $('#example tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        var row = $('#example').DataTable().row(tr);
        var Id = row.data().Clave;

        $('#DetalleRequiModal').modal("show");

        var array = { Id_Requi: Id };
        var url = '@Url.Action("ObtenerDetalleRequi", "Requisicion")';
        $.post(url, array).done(function (response) {
            $('#NoRequi').html(response[0].Folio);
            $('#FechaRequi').html(response[0].Fecha);
            $('#Fecha').html(response[0].Fecha1);
            $('#EstContrato').html(response[0].EstatusContrato);

            if (response[0].EstatusContrato == "Sin Contrato") {
                $('#EstContrato').hide();
                $('#Contrato').hide();
            } else {
                $('#EstContrato').hide();
                $('#Contrato').show();
            }

            $('#UsRequi').html(response[0].Usuario);
            LlenDetalle(response);

            //var hoy = new Date();
            //var fecha = hoy.getDate() + '-' + (hoy.getMonth() + 1) + '-' + hoy.getFullYear();
            //var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds();
            //FyH = fecha + ' ' + hora;
            //alert(FyH);

        }).fail(function (response) {
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
            });
        });

        function LlenDetalle(Lista) {
            var table12 = $('#tblDetalleRequi').DataTable({
                destroy: true,
                searching: false,
                responsive: true,
                lengthChange: false,
                paging: false,
                data: Lista,
                language: {
                    "zeroRecords": " ",
                    "search": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    },
                    "select": {
                        "rows": " %d filas seleccionadas"
                    },
                },

                columns: [
                    {
                        'data': 'ORDEN', className: "text-center",
                        render: function (data, type, row, meta) {
                            return (row.ORDEN = meta.row + meta.settings._iDisplayStart + 1);
                        }
                    },
                    //{ "data": "Compendio", className: "text-center" },
                    { "data": "Compendio", className: "text-center", render: function (data) { return (data == null ? '<h8 style="color:black; ">' + "SIN COMPENDIO" + '</h8>' : '<a>' + data + '</a>'); } },
                    { "data": "Clave", className: "text-center" },
                    { "data": "Descripcion", className: "text-center" },
                    { "data": "Cantidad", className: "text-center" },
                ]
            });
        }
    });

    //---------------------------------------------------------------------------------------------------------


    //--------------------------    BOTÓN GENERAR REQUISICIÓN  (DIRECTA) ----------------------------------------------

    $('#btnGenerarRequi').on('click', function () {
        if (ListaSustancias.length > 0) {
            TablaValida = true;

            $.grep(ListaSustancias, function (itemEnLista) {
                if (itemEnLista.CANTIDAD <= 0 || itemEnLista.CANTIDAD == "" || itemEnLista.CANTIDAD == "0") {
                    TablaValida = false;
                };
            });

            if (TablaValida) {

                var EstatusContrato = "";
                if (document.getElementById('cb1').checked) {
                    //EstatusContrato = "UANL-DGA-DA-022/08/2022";
                    EstatusContrato = "Con Contrato";
                } else {
                    EstatusContrato = "Sin Contrato";
                }

                $.ajax({
                    url: '@Url.Action("GenerarRequisiciondirecta", "Requisicion")',
                    method: 'POST',
                    dataType: 'json',
                    data: { ListaSustanciasRequiDirecta: ListaSustancias, StatusContrato : EstatusContrato },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7)
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                willClose: () => {
                                    location.reload();
                                }
                            })
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                            text: 'Requisición no generada'
                        });
                        location.reload();
                    }
                });
            } else
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                    text: 'No puede haber cantidades en cero'
                });
        } else {
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
                text: 'No hay medicamentos en la lista'
            });
        }
    });

    //---------------------------------------------------------------------------------------------------------
</script>

<style>
    .modal-backdrop {
        background-color: rgba(0,0,0,0.4) !important;
    }

    .imprimirUanl img {
        width: 65%;
    }

    .imprimirLogo img {
        width: 100%;
    }

    #pie {
        margin-top: 250px !important;
    }

    #firmas td {
        border: 1px solid black;
    }

    @@media print {

        .btn-editar {
            display: none;
        }

        .btn-eliminar {
            display: none;
        }

        .imprimir {
            display: none;
        }
        /*#btnExcel1 {
            display: none;
        }*/
        #Xcel2 {
            display: none;
        }

        .agregarotro {
            display: none;
        }

        .terminar {
            display: none;
        }

        #barcode {
            margin-left: 0vw !important;
        }

        .paqpreoperatorio {
            display: none;
        }

        #firmas td {
            border: 1px solid black;
        }
    }
</style>

