@using Microsoft.AspNet.Identity;

<style>

    .dropdown-menu {
        margin-top: -1px;
        margin-left: -0px;
    }

    .btn-secondary-menu {
        width: 195px;
        font-size: 15px !important;
        margin-left: -15px;
        z-index: 1;
    }

    .dropdown-submenu {
        margin-top: -1px;
        position: relative;
        font-size: 15px !important;
        margin-left: 15px;
    }

    .dropdown-toggle:hover {
        background-color: rgba(0,88,171,1) !important;
        border-color: rgba(0,88,171,1) !important;
        text-emphasis-color: white;
        z-index: -1;
    }


    .dropdown-item {
        font-size: 15px !important;
        padding: 3px 10px !important;
        white-space: break-spaces !important;
    }

    .test {
        margin-top: 15px;
    }

    .dropdown-item .material-icons {
        font-size: 15px !important;
    }
</style>


<ul class="nav nav-tabs" id="custom-content-below-tab mt-4" role="tablist">
    <div class="btn-group">
        <button id="MsmTab1" style="background-color:rgba(0,74,143,1);border:4.5px solid rgba(0,74,143,1);box-shadow:rgba(0,0,0,0.3) -5px 0px 5px -2px;border-top-left-radius: 15px;color: white;" class="btn btn-secondary-menu dropdown-toggle" data-toggle="dropdown">
            Historia del paciente
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("HojaFrontal", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button">Hoja Frontal</a>
            </li>
            <li>
                <a href="@Url.Action("HistorialPadecimientos", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button">Historial de consultas</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button id="MsmTab2" style="background-color:rgba(0,74,143,1);border:4.5px solid rgba(0,74,143,1);box-shadow:rgba(0,0,0,0.3) -5px 0px 5px -2px;border-top-left-radius: 15px;color: white;" class="btn btn-secondary-menu dropdown-toggle" data-toggle="dropdown">
            SOAP
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("SOAP", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button"><span class="material-icons">add</span> Consulta</a>
            </li>
            <li>
                <a href="@Url.Action("SOAPInternamiento", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button"><span class="material-icons">add</span> Internamiento</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button id="MsmTab3" style="background-color:rgba(0,74,143,1);border:4.5px solid rgba(0,74,143,1);box-shadow:rgba(0,0,0,0.3) -5px 0px 5px -2px;border-top-left-radius: 15px;color: white;" class="btn btn-secondary-menu dropdown-toggle" data-toggle="dropdown">
            Recetas
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Recetas", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button"><span class="material-icons">add</span> Receta Normal</a>
                <a href="@Url.Action("RecetasCronicas", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button"><span class="material-icons">add</span> Receta Resurtimiento</a>
                <a href="@Url.Action("ListaRecetas", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button">Ver Recetas</a>
                <a href="@Url.Action("HistorialRecetas", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button">Historial Recetas</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button id="MsmTab4" style="background-color:rgba(0,74,143,1);border:4.5px solid rgba(0,74,143,1);box-shadow:rgba(0,0,0,0.3) -5px 0px 5px -2px;border-top-left-radius: 15px;color: white;" class="btn btn-secondary-menu dropdown-toggle" data-toggle="dropdown">
            Estudios
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">

                <a class="test" tabindex="-1" href="#">Rayos X <span style="font-size: 10px;"> ▼</span></a>

                <ul id="test1" class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("RayosX", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP ,medico = User.Identity.GetUserName()})"><span class="material-icons">add</span>Generar RX</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.200:3333/studyList?searchID=@Model.DHabiente.NUMEMP.Substring(0,5)-@Model.DHabiente.NUMEMP.Substring(@Model.DHabiente.NUMEMP.Length-3)">Ver SMUANL</a>
                        <a class="dropdown-item" target="_blank" href="http://cuid.dyndns.org/portal">Ver HU</a>
                        <a class="dropdown-item" target="_blank" href="http://ar.universidad.equimedmexico.com">Ver AR</a>
                        <a class="dropdown-item" target="_blank" href="http://radiodiagnostico.dynns.com/pacs/login.php?message=Bienvenido%20a%20iQ-WEB">Ver Garcia Barella</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <hr class="dropdown-divider">
                <a class="test" tabindex="-1" href="#">Laboratorio <span style="font-size: 10px;"> ▼</span></a>
                <ul id="test2" class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("SolicitudLaboratorio", "ServiciosMedicos", new { expediente = Model.DHabiente.NUMEMP ,medico = User.Identity.GetUserName()})"><span class="material-icons">add</span>Generar Solicitud</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.204/resultados3/listanombres.asp?numexp=@Model.DHabiente.NUMEMP">Ver Resultados Laboratorio</a>
                    </li>
                </ul>
                <hr class="dropdown-divider">
            </li>
            <li class="dropdown-submenu">

                <a class="test" tabindex="-1" href="#">Archivos <span style="font-size: 10px;"> ▼</span> </a>

                <ul id="test3" style="overflow:auto;height:200px" class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=ekg">E K G</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=cito">Citologías</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=biopsia">Biopsia</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=ecc">E.C.C</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=presfuerzo">Prueba esfuerzo</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=holters">Holters</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=consinf">Cons. Informado</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=endo">Procedimientos Qx.</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=DENS">Densitometria</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=LAB">Laboratorio Externo</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=psico">Psicología</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=onco">Oncología</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=gastro">Gastro</a>
                        <a class="dropdown-item" target="_blank" href="http://148.234.143.201/smuanl_web/img01.asp?NumEmp=@Model.DHabiente.NUMEMP&est=OTR">Otros Estudios</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button id="MsmTab5" style="background-color:rgba(0,74,143,1);border:4.5px solid rgba(0,74,143,1);box-shadow:rgba(0,0,0,0.3) -5px 0px 5px -2px;border-top-left-radius: 15px;color: white;" class="btn btn-secondary-menu dropdown-toggle" data-toggle="dropdown">
            Ordenes
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="@Url.Action("ValoracionPensionistas", "Manage", new { id = Model.DHabiente.NUMEMP })"><span class="material-icons">add</span>Valoración Urgencia HU</a>
                <a class="dropdown-item" href="@Url.Action("TodasValoracionesPensionistas", "Manage")">Ver mis valoraciones</a>
                <a class="dropdown-item" href="@Url.Action("OrdenInternamiento", "Manage", new { id = Model.DHabiente.NUMEMP })"><span class="material-icons">add</span>Internamiento</a>
                <a class="dropdown-item" href="@Url.Action("TodasOrdenesInternamiento", "Manage")">Ver mis órdenes</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button id="MsmTab6" style="background-color:rgba(0,74,143,1);border:4.5px solid rgba(0,74,143,1);box-shadow:rgba(0,0,0,0.3) -5px 0px 5px -2px;border-top-left-radius: 15px;color: white;" class="btn btn-secondary-menu dropdown-toggle" data-toggle="dropdown">
            Proc. Ambulatorios
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("ProcAmbOrdenes", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button"><span class="material-icons">add</span>Capturar</a>
                <a href="@Url.Action("VerProcAmbOrdenes", "ServiciosMedicos", new { id = Model.DHabiente.NUMEMP })" class="dropdown-item" type="button">Ver Historial</a>
            </li>
        </ul>
    </div>
</ul>

<script>
    $(document).ready(function () {
        $('.dropdown-submenu a.test').on("click", function (e) {
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".btn-secondary-menu").on("click", function (e) {

            $(".dropdown-menu").slideUp('fast');
            $(this).next('ul').toggle();

        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".dropdown-item").on("click", function (e) {

            $(".dropdown-menu").slideUp('fast');

        });
    });
</script>


