@{
    ViewBag.Title = "ConsultaNotasPorMedico";
}
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet' href='https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.min.js'></script>
<link rel='stylesheet' href='https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css'>

<style>
    .valid {
        background-color: #ddffdd;
        border: red 2px solid;
    }

    input, select, textarea {
        max-width: none;
    }
</style>

<div class="row">
    <div class="col-md-12" id="menu">
        <table>
            <tr>
                <td><a href="@Url.Action("Index", "Home")"><b>Inicio</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Medico", "Manage")"><b>Médico</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Consultas", "Manage")"><b>Consultas</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Index", "MedicinaLaboral")"><b>MedicinaLaboral</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="#"><b>Consultar Notas Por Medico</b></a></td>
            </tr>
        </table>
    </div>
</div>
<br />

<div class="col-md-12 text-center m-auto pl-3 pr-3 pt-1 pb-0 inputBarcode" id="msform">
    <img src="~/Imagenes/notamedica.png" class="uanl-logo" />
    <h3 style="font-family: 'Roboto', sans-serif;">
        Notas de evolucion Realizadas por Médico
        <span class="putUserName"></span>
    </h3>
</div>
<hr />

<form action="http://148.234.143.203/SISM-Medico/MedicinaLaboral/GetNotasPorMedico" method="post">
    <div class="row">
        <div class="col-4"> </div>
        <div class="col-2" style="text-align: right; text-transform: uppercase">Clave de Médico </div>
        <div class="col-2"> <input type="number" value="" class="form-control" id="pClaveMedico" name="pClaveMedico" /> </div>
        <div class="col-4"> </div>
    </div>

    <div class="row" style="margin-top: 10px; text-transform: uppercase">
        <div class="col-2"> </div>
        <div class="col-2" style="text-align:right">O Seleccione </div>
        <div class="col-6">
            <select id="cboMEDICOS" name="cboMEDICOS" class="form-control" style="width:100%">
                <option selected disabled>     </option>
                @{
                    List<UanlSISM.Models.Combos> cmb = (List<UanlSISM.Models.Combos>)ViewData["cmb"];

                    foreach (var item in cmb)
                    {
                        <option value=" @item.Id"> @item.Valor</option>
                    }
                }
            </select>
        </div>
        <div class="col-2"> </div>
    </div>

    <div class="row" style="margin-top: 10px; text-transform: uppercase">
        <div class="col-3"></div>
        <div class="col-1" style="text-align:right">Fecha </div>
        <div class="col-2">
            <input type="date" id="TxtFecha" name="TxtFecha" date-format="DD/MM/YYYY" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control">
        </div>
        <div class="col-3"> </div>
    </div>

    <div class="row" style="margin-top:10px">
        <div class="col-5"> </div>
        <div class="col-2" style="float:right">
            <button type="submit" class="btn btn-warning" >
                Generar Informe
            </button>
        </div>
        <div class="col-2" style="text-align:right">
            <button id="btnVolver1" type="button" class="btn btn-warning" onclick="window.history.back();">
                Regresar
            </button>
        </div>
        <div class="col-4"> </div>
    </div>
</form>
