@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Consultas - Medicina Laboral";
}

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


<style>
    .uanl-logo {
        width: 10vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }

    @@font-face {
        font-family: 'Effra-Regular';
        src: url('~/fonts/Effra-Regular.eot');
        src: url('~/fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'), url('~/fonts/Effra-Regular.ttf') format('truetype');
    }

    @@font-face {
        font-family: 'Effra-Bold';
        src: url('~/fonts/Effra-Bold.eot');
        src: url('~/fonts/Effra-Bold.eot?#iefix') format('embedded-opentype'), url('~/fonts/Effra-Bold.ttf') format('truetype');
    }


    .somos-uni {
        width: 5vw;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }

    .linea-arriba {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 2.5vw;
        margin-top: 5.8vw;
    }

    .linea-abajo {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 2.5vw;
        margin-bottom: 0.7vw;
    }

    body {
        height: 100vh;
        padding: 0 !important;
    }

    .inputBarcode {
        padding-top: 1vw !important;
        margin-left: 8.333%;
    }

    #home-seccion {
        margin-top: 20px;
    }

    .icons {
        width: 8vw;
    }

    .item {
        padding: 10px;
    }

    .item-card {
        transition: 0.5s;
        cursor: pointer;
        padding: 20px;
    }

    .card-link {
        background-color: #FBC43D;
        border-color: #FBC43D;
        color: white;
        padding: 5px 20px;
    }

        .card-link:hover {
            text-decoration: none;
            color: white;
        }

    .item-card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

        .item-card-title i {
            font-size: 15px;
            transition: 1s;
            cursor: pointer;
            color: #ffa710
        }

    .card-title i:hover {
        transform: scale(1.25) rotate(20deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        /*box-shadow: 5px 5px 5px rgba(0,0,0,0.3);*/
    }

    .card::before, .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .foto-paciente {
        width: 6vw;
        height: 6vw;
        border-radius: 6vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0,74,143,0.8);
        background-image: url('http://148.234.143.204/smuanl_web/fotos_dhab/04586101.jpg');
    }

    .cuadro {
        background-color: #fff;
        border-radius: 1vw;
    }

    .nav-tabs .nav-item {
        width: 180px;
    }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
            font-size: 0.8vw !important;
            background-color: rgba(0,74,143,0.8);
            color: white !important;
        }

            .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
                font-size: 0.8vw !important;
                background-color: rgba(0,74,143,0.6) !important;
                color: white !important;
            }

            .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
                background-color: #FBC43D;
                color: white !important;
            }

                .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
                    background-color: #FBC43D !important;
                }

    .doc-info {
        text-align: right;
    }

    .fade {
        opacity: 1 !important;
    }

    .modal-backdrop {
        background-color: rgba(0,0,0,0.4) !important;
    }

    .modal-content {
        margin-top: 6vw;
    }

    .datos-paciente label {
        font-size: 0.8vw;
    }

    .datos-paciente input {
        border: none !important;
        border-bottom: 2px solid lightgray !important;
        padding: 1px 3px;
        border-radius: 0px;
    }

    #grad1 {
        background-color: : #9C27B0;
        background-image: linear-gradient(120deg, #FF4081, #81D4FA)
    }

    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            position: relative
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            position: relative
        }

            #msform fieldset:not(:first-of-type) {
                display: none
            }

            #msform fieldset .form-card {
                text-align: left;
                color: #9E9E9E
            }

        #msform input,
        #msform textarea {
            padding: 0px 8px 4px 8px;
            border: none;
            border-bottom: 1px solid lightgray;
            border-radius: 0px;
            margin-top: 2px;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 16px;
            letter-spacing: 1px;
        }

            #msform input:focus,
            #msform textarea:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: none;
                font-weight: bold;
                border-bottom: 2px solid #FBC43D;
                outline-width: 0
            }

        #msform .action-button {
            width: 130px;
            background: #FBC43D;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .action-button:hover,
            #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #FBC43D
            }

        #msform .action-button-previous {
            width: 130px;
            background: lightgray;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .action-button-previous:hover,
            #msform .action-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px lightgray
            }



        #msform .success-button {
            width: 130px;
            background: rgba(0,74,143,0.8);
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .success-button:hover,
            #msform .success-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(0,74,143,0.8)
            }

        #msform .success-button-previous {
            width: 130px;
            background: rgba(0,74,143,0.8);
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .success-button-previous:hover,
            #msform .success-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(0,74,143,0.8);
            }

    select.list-dt {
        border: none;
        outline: 0;
        border-bottom: 1px solid lightgray;
        padding: 2px 5px 3px 5px;
        margin: 2px
    }

        select.list-dt:focus {
            border-bottom: 2px solid #FBC43D
        }

    .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #2C3E50;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #000000;
            opacity: 1;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 25%;
            opacity: 0.7;
            float: left;
            cursor: pointer;
            position: relative
        }

        #progressbar #account:before {
            content: "S"
        }

        #progressbar li#account.changed:before,
        #progressbar li#account.changed:after {
            background: green;
        }

        #progressbar #personal:before {
            content: "O"
        }

        #progressbar li#personal.changed:before,
        #progressbar li#personal.changed:after {
            background: green;
        }

        #progressbar #payment:before {
            content: "A"
        }

        #progressbar li#payment.changed:before,
        #progressbar li#payment.changed:after {
            background: green;
        }

        #progressbar #confirm:before {
            content: "P"
        }

        #progressbar li#confirm.changed:before,
        #progressbar li#confirm.changed:after {
            background: green;
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #FBC43D
        }

    .radio-group {
        position: relative;
        margin-bottom: 25px
    }

    .radio {
        display: inline-block;
        width: 204;
        height: 104;
        border-radius: 0;
        background: lightblue;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        cursor: pointer;
        margin: 8px 2px
    }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
        }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .btn-diagnosticos {
        background-color: rgba(0,74,143,0.8) !important;
        color: white;
        font-size: 1vw;
        width: 100%;
    }

        .btn-diagnosticos:hover {
            color: white;
        }

    #loadingDiv {
        position: fixed;
        z-index: 9999;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        text-align: center;
        padding-top: 20vh;
    }

        #loadingDiv .spinner-border {
            width: 8vw;
            height: 8vw;
        }

    .diag-box {
        background-color: #FBC43D;
        color: white;
    }

    .select2-container {
        width: 100% !important;
    }

    /*.select2-selection__choice {
        float: initial !important;
        margin: 0 !important;
        font-size:1.5vw !important;
        padding:1vw !important;
    }

    .select2-selection__rendered{
        padding:0.5vw !important;
    }

    .select2-selection--multiple{
        height:6vw !important;
    }*/

    #locality-dropdown {
        max-width: 100% !important;
    }

    .dataTables_wrapper .dataTables_info {
        width: 100% !important;
    }

    .dataTables_wrapper .dataTables_paginate {
        width: 100% !important;
        text-align: center !important;
    }

    .dataTables_wrapper .dataTables_filter {
        width: 100% !important;
        text-align: center !important;
    }

        .dataTables_wrapper .dataTables_filter label {
            width: 100% !important;
        }

        .dataTables_wrapper .dataTables_filter input {
            width: 80% !important;
        }

    .dataTables_wrapper .dataTables_length {
        display: none;
    }

    .btn-danger {
        width: 100%;
    }

        .btn-danger .material-icons {
            font-size: 1.2vw !important;
        }

    table.dataTable tbody tr.selected {
        background-color: #FBC43D !important;
        color: white !important;
    }

    #msform h3 {
        color: #000;
    }

    .checking {
        cursor: pointer;
        color: lightgray;
    }

    table.dataTable tbody tr.selected .checking {
        color: white !important;
    }

    tipoconsulta {
        border-radius: 0px;
    }

    .resumenTop {
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 2.5vw;
        background-color: green;
        color: white;
        font-size: 1.2vw;
        line-height: 2.5vw;
        text-align: center;
    }

    .resumenText {
        font-size: 1.2vw;
        margin-top: 3vw;
        color: black;
        cursor: pointer;
    }

    .btn-asignar {
        background-color: #FBC43D !important;
        color: white !important;
    }

    .btn-asignar-modal {
        background-color: #FBC43D !important;
        border: 2px solid #FBC43D !important;
        color: white !important;
        width: 100%;
        max-width: 100%;
    }

    .modal-body .select-checkbox {
        display: none;
    }

    .modal-header {
        text-align: center;
    }

        .modal-header .close {
            margin: 0 !important;
            position: absolute;
            right: 0;
            top: 0;
        }

    .bsqpaciente {
        width: 45px;
        cursor: pointer;
        position: absolute;
        top: -2px;
        left: 13px;
    }

    .medicoNombre {
        font-family: 'Roboto', sans-serif;
    }
</style>

<style type="text/css" media="screen and (max-width: 991px)">
    .foto-paciente {
        width: 10vw;
        height: 10vw;
        border-radius: 10vw;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        font-size: 1.5vw !important;
    }
</style>

<style type="text/css" media="screen and (max-width: 767px)">
    .foto-paciente {
        width: 18vw;
        height: 18vw;
        border-radius: 18vw;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        font-size: 3vw !important;
    }

    .doc-info {
        text-align: center;
    }

    #msform input, #msform textarea {
        font-size: 10px;
    }

    .bsqpaciente {
        width: 100%;
        top: 0px;
        left: 0px;
        margin-top: 5px;
    }

    .medicoNombre {
        font-size: 13px;
    }

    .uanl-logo {
        width: 30vw;
        margin-bottom: 8vw;
        margin-bottom: 4vw;
    }

    .somos-uni {
        width: 13vw;
        margin-top: 8vw;
    }

    .modal-content {
        margin-top: 30vw;
    }

    .btnbuscapac {
        width: 7vw !important;
        left: 0 !important;
        top: 1vw !important;
    }

    #msform h3 {
        font-size: 5vw;
    }
</style>

<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

<link rel='stylesheet' href='https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.min.js'></script>

<link rel='stylesheet' href='https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css'>


<img class="linea-abajo" src="~/Imagenes/lineas-uanl-izquierda.png">
<img class="linea-arriba" src="~/Imagenes/lineas-uanl-derecha.png">

<div id="loadingDiv">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="row">
    <div class="col-md-12" id="menu">
        <table>
            <tr>
                <td><a href="@Url.Action("Index", "Home")"><b>Inicio</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Medico", "Manage")"><b>Médico</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Consultas", "Manage")"><b>Consultas</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Index", "MedicinaLaboral")"><b>Medicina Laboral</b></a></td>
            </tr>
        </table>
    </div>

    <div class="col-md-10 text-center m-auto pl-3 pr-3 pt-1 pb-0 inputBarcode" id="msform">
        <img src="~/Imagenes/uanl-logo.png" class="uanl-logo" />
        <h3 style="font-family: 'Roboto', sans-serif;">Médico: <span class="putUserName"></span></h3>
        <!--h3 style="font-family: 'Roboto', sans-serif;">Buscar paciente</h3>
        <center><input class="form-control" id="searchInput" /></center>
        <center><button class="btn btn-buscar">Buscar</button></center-->
        <div class="row" style=" margin-bottom: 10px;">

            <div class="col-2 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarPac" placeholder="NumEmp" />
            </div>
            <div class="col-3 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarNombrePac" placeholder="Nombres" />
            </div>
            <div class="col-3 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarApellidoPac" placeholder="Apellido Paterno" />
            </div>
            <div class="col-3 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarApellidoMPac" placeholder="Apellido Materno" />
            </div>
            <div class="col-1 p-1">
                <a onclick="BsqPaciente()">
                    <img src="~/Imagenes/btn1.png" class="btnbuscapac" style="width: 45px; cursor: pointer;   position: absolute; top: -2px; left: 13px;" />
                </a>

                @*<button class="btn btn-info" id="btnbuscapac" onclick="BsqPaciente()">Buscar</button>*@
            </div>
        </div>

        <table id="example" class="table table-bordered table-striped" width="100%">
            <!--caption style="caption-side: top">Selecciona un derechohabiente</caption-->
            <thead>
                <tr>
                    <th></th>
                    <th>NUMEMP</th>
                    <th>NOMBRES</th>
                    <th>APATERNO</th>
                    <th>AMATERNO</th>
                    <th>SEXO</th>
                    <th style="width:150px !important">EDAD <br /> MESES</th>
                    <th style="display:none">FECHA DE ALTA</th>
                    <th style="width:150px !important"> BAJA</th>
                </tr>
            </thead>
        </table>

        <br />
        <div style="display:block" id="hoy">
            <h3 style="font-family: 'Roboto', sans-serif; text-transform:uppercase; display:none" id="TituloHoy">
                consultas realizadas ( hoy ).
            </h3>
            <div id='Resultado' style='overflow: auto;  height: 220px; width: 100%; '>
                <div>
                </div>
                <table id='grillakx'></table>
            </div>

        </div>
    </div>

    <div class="col-md-10 text-center m-auto p-3">
        <img src="~/Imagenes/somos-uni.png" class="somos-uni" />
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4 style="font-family: 'Roboto', sans-serif;">Lista de pacientes encontrados</h4>
                <div id="mostarPaciente" class="text-left">
                    <div class="form-group row m-0 text-center">
                        <div class="col-md-12 p-0">
                            <div id="mostarData"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="derechohabientesModal" tabindex="-1" role="dialog" aria-labelledby="derechohabientesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row m-0">
                    <div class="col-12 p-2 m-auto text-center">
                        <center><div class="foto-paciente"></div></center>
                        <h6 class="m-0 pt-3">Nombre: <b id="nombresModal"></b></h6>
                        <h6 class="m-0">Sexo: <b id="sexoModal"></b> Edad: <b id="edadModal"></b></h6>
                        <h6 class="m-0">Fecha de alta: <b id="fecaltaModal"></b></h6>
                        <h6 class="m-0">  Baja: <b id="fecbajaModal"></b></h6>
                    </div>
                    <div class="col-12 p-2 text-center" id="botonModal">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    //$('#loadingDiv').hide();
    $(".btn-buscar").click(function (request, response) {
            $('#loadingDiv').show();
            $('#exampleModal').modal('show');
            $.ajax({
                url: '@Url.Action("BuscarConsulta", "Manage")',
                dataType: "json",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        $('#mostarData').html(data);
                        $('#loadingDiv').hide();
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
@*@<script type="text/javascript">
    $.ajax({
        type: 'GET',
        url: '@Url.Action("GetMedicoNombres", "Manage")',
        dataType: 'json',
        cache: false,
        success: function (data) {
            $('.putUserName').html(data.nombres + " " + data.apellido_paterno + " " + data.apellido_materno);
        },
        error: function (xhr, status, error) {
            Swal.fire('Error', 'No cuenta con número de Médico', 'No cuenta con número de Médico');
        }
    });
</script>*@

<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "http://148.234.143.205/SISM/Imagenes/uanl.png";
        return true;
    }
</script>


<script src='https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js'></script>
<script src="~/Scripts/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function () {
        $('#loadingDiv').hide();
        // $('#loadingDiv').show();
        // //Boton cambiara a amarillo cuando se seleccione un diagnostico
        // $('#siguiente3').css("background-color", "lightgray");
        // $('#siguiente3').attr('disabled', 'disabled');
        // $('#check1').css("color", "lightgray");
        // $('#check2').css("color", "lightgray");
        // $('#check3').css("color", "lightgray");

        // $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
        //     return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
        //         return $(td).closest('tr').hasClass('selected') ? '1' : '0';
        //     });
        // }
        //// "url": "http://localhost:50558/json/dhabientes.json",
        // var table = $('#example').DataTable({
        //     "ajax": {
        //         "url": "http://localhost:50558/json/dhabientes.json",
        //         "dataSrc": "",
        //     },
        //     "initComplete": function (settings, json) {
        //         $('#loadingDiv').hide();
        //     },
        //     /*responsive: {
        //         details: {
        //             display: $.fn.dataTable.Responsive.display.modal({
        //                 header: function (row) {
        //                     var data = row.data();
        //                     return data.NOMBRES + ' ' + data.APATERNO + ' ' + data.AMATERNO;
        //                 }
        //             }),
        //             renderer: $.fn.dataTable.Responsive.renderer.tableAll({
        //                 tableClass: 'table'
        //             })
        //         }
        //     },*/
        //     "language": {
        //         "search": "Buscar derechohabiente:",
        //         "zeroRecords": "No se encontró ningun derechohabiente",
        //         "paginate": {
        //             "first": "Primero",
        //             "last": "Último",
        //             "next": "Siguiente",
        //             "previous": "Anterior"
        //         },
        //         "loadingRecords": "Un momento, cargando derechohabientes...",
        //         "processing": "Procesando derechohabientes...",
        //         "info": "Mostrando _START_ a _END_ de _TOTAL_ derechohabientes",
        //         "lengthMenu": "Mostrando _MENU_ derechohabientes",
        //         "lengthMenu": "Mostrando _MENU_ derechohabientes",
        //     },
        //     "columns": [
        //         { "data": "NUMEMP" },
        //         { "data": "NUMEMP" },
        //         { "data": "NOMBRES" },
        //         { "data": "APATERNO" },
        //         { "data": "AMATERNO" },
        //         { "data": "SEXO" },
        //         { "data": "FNAC" },
        //         { "data": "FECALTA" },
        //         { "data": "FBAJA" },
        //     ],
        //     columnDefs: [
        //         {
        //             className: 'select-checkbox',
        //             targets: 0,
        //             orderDataType: 'dom-checkbox',
        //             'checkboxes': {
        //                 'selectRow': true
        //             },
        //             'render': function (data, type, full, meta) {
        //                 return '<input type="button" class="btn-asignar" value="Consultar">';

        //                 //return '<span class= "material-icons checking"> check_circle</span>';
        //             }
        //         },
        //         {
        //             className: 'set-age',
        //             targets: 6,
        //             'checkboxes': {
        //                 'selectRow': true
        //             },
        //             'render': function (data, type, full, meta) {
        //                 return '<span>' + (new Date().getFullYear() - data) + '</span>';

        //                 //return '<span class= "material-icons checking"> check_circle</span>';
        //             }
        //         }
        //     ],
        //     select: {
        //         style: 'os',
        //         selector: 'td:first-child',
        //         //'style': 'multi'
        //     },//,
        //     //'order': [1, 'asc'],
        //     //"createdRow": function (row, data, dataIndex) {
        //     // $(row).attr("id", "tblRow_" + data[0]);
        //     //}
        // });

        // //$('#loadingDiv').hide();

        // table.on('click', 'tbody tr', function () {
        //     var numemp = $('td', this).eq(1).text();
        //     var nombres = $('td', this).eq(2).text();
        //     var apaterno = $('td', this).eq(3).text();
        //     var amaterno = $('td', this).eq(4).text();
        //     var sexo = $('td', this).eq(5).text();
        //     var edad = $('td', this).eq(6).text();
        //     var fecalta = $('td', this).eq(7).text();
        //     var fecbaja = $('td', this).eq(8).text();
        //     $('.foto-paciente').css("background-image", "url(http://148.234.143.204/smuanl_web/fotos_dhab/" + numemp + ".jpg)");
        //     $('#nombresModal').text(nombres + ' ' + apaterno + ' ' + amaterno);
        //     $('#sexoModal').text(sexo);
        //     $('#edadModal').text(edad);
        //     $('#fecaltaModal').text(fecalta);
        //     $('#fecbajaModal').text(fecbaja);
        //     $('#botonModal').html('<a href="/SISM-Medico/MedicinaLaboral/HojaFrontal/' + numemp + '"><input type="button" class="btn-asignar-modal" data-toggle="modal" value="Confirmar"></a>');
        //     $('#derechohabientesModal').modal("show");
        // });


    });


    function Buscar_mov() {
        try {

            $('#TituloHoy').show();

            $.ajax({
                type: 'POST',
                url: "/SISM-Medico/Manage/BuscarHUHistorial?v_NUMEMP=" + $("#TxtBuscarPac").val() + "&v_nombres=" + $("#TxtBuscarNombrePac").val() + "&v_apellido=" + $("#TxtBuscarApellidoPac").val() + "&v_apellidoM=" + $("#TxtBuscarApellidoMPac").val(),
                data: '',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: (function (Resultado) {
                    var v_obj = Resultado;
                    var Tabla_Titulo = '';
                    var Tabla_Datos = '';
                    var Tabla_Fin = '';
                    $('#Resultado').show();
                    $('#Resultado').empty();
                    Tabla_Titulo = "  <table    id='grillakx' class='table   table-hover table-striped' style='width: 100%;'><thead style='text-transform: uppercase;'><tr>  <th></th>  <th>NUMEMP</th>     <th>NOMBRES</th>  <th>APATERNO</th>  <th>AMATERNO</th> <th>SEXO</th>  <th style='width: 150px!important'>EDAD <br /> MESES</th>   <th style='width: 150px!important'> Hora Termino</th> <th></th> </tr></thead><tbody> ";
                    $.each(v_obj, function (index, obj) {
                        var color = '';
                        if (obj.FBAJA == '') {
                            color = 'background-color: #ffcd27';

                        }

                        Tabla_Datos = Tabla_Datos + " <tr style='" + color + "'   >    <td> </td> <td>" + obj.NUMEMP + " </td> <td>" + obj.NOMBRES + " </td> <td>" + obj.APATERNO + " </td> <td>" + obj.AMATERNO + " </td><td>" + obj.SEXO + " </td> <td>" + obj.FNAC + " </td>  <td>" + obj.FBAJA + " </td> <td> <input type='button'  class='next action-button1'  value='Editar' style='background-color: rgb(251, 196, 61);' onclick='ireditar(\"" + obj.NUMEMP + "\")'></td>   </tr>";
                    });
                    Tabla_Fin = " </tbody></table>";
                    $('#Resultado').html(Tabla_Titulo + Tabla_Datos + Tabla_Fin);


                }
                ),
                error: erroresJs
            });

        } catch (e) {
            alert(e.message);
        }
    }


    $(function () {
        Buscar_mov();
    }

    );

    function ireditar(ids) {
        window.location.href = '/SISM-Medico/MedicinaLaboral/SOAP/' + ids;
    }
    function BsqPaciente() {

        $('#hoy').hide();

        $('#loadingDiv').show();
        //Boton cambiara a amarillo cuando se seleccione un diagnostico
        $('#siguiente3').css("background-color", "lightgray");
        $('#siguiente3').attr('disabled', 'disabled');
        $('#check1').css("color", "lightgray");
        $('#check2').css("color", "lightgray");
        $('#check3').css("color", "lightgray");

        $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
            return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                return $(td).closest('tr').hasClass('selected') ? '1' : '0';
            });
        }





        // "url": "http://localhost:50558/json/dhabientes.json",
        var table = $('#example').DataTable({
            destroy: true,
            searching: false,
            responsive: true,
            "ajax": {
                "url": "/SISM-Medico/Manage/BsqHU?v_NUMEMP=" + $("#TxtBuscarPac").val() + "&v_nombres=" + $("#TxtBuscarNombrePac").val() + "&v_apellido=" + $("#TxtBuscarApellidoPac").val() + "&v_apellidoM=" + $("#TxtBuscarApellidoMPac").val(),
                "dataSrc": "",
            },
            "initComplete": function (settings, json) {
                $('#loadingDiv').hide();
            },

            "language": {
                "search": "Buscar derechohabiente:",
                "zeroRecords": "No se encontró ningun derechohabiente",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },

                "loadingRecords": "Un momento, cargando derechohabientes...",
                "processing": "Procesando derechohabientes...",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ derechohabientes",
                "lengthMenu": "Mostrando _MENU_ derechohabientes",
                "lengthMenu": "Mostrando _MENU_ derechohabientes",
            },
            "columns": [
                { "data": "NUMEMP" },
                { "data": "NUMEMP" },
                { "data": "NOMBRES" },
                { "data": "APATERNO" },
                { "data": "AMATERNO" },
                { "data": "SEXO" },
                { "data": "FNAC" },
                { "data": "FECALTA" },
                { "data": "FBAJA" },
            ],
            columnDefs: [
                {
                    className: 'select-checkbox',
                    targets: 0,
                    orderDataType: 'dom-checkbox',
                    'checkboxes': {
                        'selectRow': true
                    },
                    'render': function (data, type, full, meta) {
                        return '<input type="button" class="btn-asignar" value="Consultar">';

                        //return '<span class= "material-icons checking"> check_circle</span>';
                    }
                },
                {
                    className: 'set-age',
                    targets: 6,
                    'checkboxes': {
                        'selectRow': true
                    },
                    'render': function (data, type, full, meta) {

                        //var v_edad = String((new Date().getFullYear() - data));

                        //if (data == '') {
                        //    v_edad = '';
                        //}
                        return '<span>' + data + '</span>';

                        //return '<span class= "material-icons checking"> check_circle</span>';
                    }
                },
                {
                    className: 'nomostrar',
                    targets: 7
                }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child',
                //'style': 'multi'
            },//,
            //'order': [1, 'asc'],
            //"createdRow": function (row, data, dataIndex) {
            // $(row).attr("id", "tblRow_" + data[0]);
            //}
        });

        $('.dataTables_filter').hide();

        table.on('click', 'tbody tr', function () {
            var numemp = $('td', this).eq(1).text();
            var nombres = $('td', this).eq(2).text();
            var apaterno = $('td', this).eq(3).text();
            var amaterno = $('td', this).eq(4).text();
            var sexo = $('td', this).eq(5).text();
            var edad = $('td', this).eq(6).text();
            var fecalta = $('td', this).eq(7).text();
            var fecbaja = $('td', this).eq(8).text();
            $('.foto-paciente').css("background-image", "url(http://148.234.143.204/smuanl_web/fotos_dhab/" + numemp + ".jpg)");
            $('#nombresModal').text(nombres + ' ' + apaterno + ' ' + amaterno);
            $('#sexoModal').text(sexo);
            $('#edadModal').text(edad);
            $('#fecaltaModal').text(fecalta);
            $('#fecbajaModal').text(fecbaja);
            $('#botonModal').html('<a href="/SISM-Medico/MedicinaLaboral/HojaFrontal/' + numemp + '"><input type="button" class="btn-asignar-modal" data-toggle="modal" value="Confirmar"></a>');
            $('#derechohabientesModal').modal("show");
        });

        $("#TxtBuscarPac").val('');
        $("#TxtBuscarNombrePac").val('');
        $("#TxtBuscarApellidoPac").val('');
        $("#TxtBuscarApellidoMPac").val('');


    }


    $(".set-age-input").each(function () {
        console.log($(this).val());
    });


    function erroresJs(msg) {
        var jsonObj = JSON.parse(msg.responseText);
        alert('Error: ' + jsonObj.Message);
    }


</script>
<style>
    .nomostrar {
        display: none;
    }
</style>