@model UanlSISM.Models.DHABIENTES

@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Orden Valoración Pensionistas";
}

<meta charset="utf-8">

<style>
    #imprimirModal {
        padding: 0 !important;
    }

    .linea {
        height: 2px;
        width: 100%;
        background-color: #000000;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    #imprimirModal .modal-dialog {
        max-width: 1150px;
        margin-bottom: 5vw;
    }

    .detalles {
        background-color: rgba(0,74,143,1) !important;
        color: white !important;
        padding: 3px 15px !important;
    }

        .detalles:hover {
            background-color: rgba(0,74,143,1) !important;
            color: white;
        }

    #regresarAgenda {
        position: fixed;
        z-index: 999;
        bottom: 0;
        right: 0;
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
        background-color: #FBC43D;
        margin-bottom: 3vw;
        margin-right: 1vw;
        text-align: center;
        cursor: pointer
    }

        #regresarAgenda img {
            width: 2.3vw;
            margin-top: 1.2vw;
            filter: brightness(0) invert(1);
        }

    #regresarAgendaTxt {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FBC43D;
        padding: 5px 20px !important;
        font-size: 1.1vw;
        width: 13vw;
        margin-top: 1.3vw;
        margin-left: -12.5vw;
        color: white;
    }
</style>

<style>
    #home-seccion {
        margin-top: 20px;
    }

    .icons {
        width: 8vw;
    }

    .item {
        padding: 10px;
    }

    .item-card {
        transition: 0.5s;
        cursor: pointer;
        padding: 20px;
    }

    .card-link {
        background-color: #FBC43D;
        border-color: #FBC43D;
        color: white;
        padding: 5px 20px;
    }

        .card-link:hover {
            text-decoration: none;
            color: white;
        }

    .item-card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

        .item-card-title i {
            font-size: 15px;
            transition: 1s;
            cursor: pointer;
            color: #ffa710
        }

    .card-title i:hover {
        transform: scale(1.25) rotate(20deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        /*box-shadow: 5px 5px 5px rgba(0,0,0,0.3);*/
    }

    .card::before, .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .foto-paciente {
        width: 6vw;
        height: 6vw;
        border-radius: 6vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0,74,143,0.8);
        background-image: url('http://148.234.143.205/SISM/Imagenes/uanl.png');
    }

    .cuadro {
        background-color: #fff;
        border-radius: 1vw;
    }

    .nav-tabs .nav-item {
        width: 500px;
        z-index: 99;
    }

    .dropdown-toggle {
        width: 220px;
        font-size: 0.8vw !important;
        background-color: rgba(0,74,143,1);
        color: white !important;
        text-align: left;
        z-index: 0;
        border-top-left-radius: 20px;
        border: 3px solid rgba(0,74,143,1);
    }

        .dropdown-toggle:hover {
            background-color: rgba(0, 88, 171,1) !important;
            border: 3px solid rgba(0, 88, 171,1) !important;
            z-index: 0;
        }

        .dropdown-toggle:focus {
            background-color: rgba(0, 88, 171,1) !important;
            border: 3px solid rgba(0, 88, 171,1) !important;
            z-index: 0;
        }

    .dropdown-menu {
        float: inherit !important;
        width: 100% !important;
    }

    .dropdown-item {
        font-size: 0.8vw !important;
    }

        .dropdown-item .material-icons {
            font-size: 0.8vw !important;
        }

        .dropdown-item:hover {
            background-color: rgba(0,74,143,1) !important;
            color: white !important;
        }

        .dropdown-item:focus {
            background-color: rgba(0,74,143,1) !important;
            color: white !important;
        }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        font-size: 0.8vw !important;
        background-color: rgba(0,74,143,1);
        color: white !important;
        border-top-left-radius: 20px;
        margin-left: -20px;
        -webkit-box-shadow: -5px 0px 5px -2px rgba(0,0,0,0.3);
        -moz-box-shadow: -5px 0px 5px -2px rgba(0,0,0,0.3);
        box-shadow: -5px 0px 5px -2px rgba(0,0,0,0.3);
        border: 2.5px solid rgba(0,74,143,1);
    }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
            font-size: 0.8vw !important;
            background-color: rgba(0, 88, 171,1) !important;
            color: white !important;
            border: 2.5px solid rgba(0, 88, 171,1);
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            background-color: #FBC43D;
            color: white !important;
            border: 2.5px solid #FBC43D;
        }

            .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
                background-color: #FBC43D !important;
            }


    .doc-info {
        text-align: right;
    }

    .fade {
        opacity: 1;
    }

    .datos-paciente label {
        font-size: 0.8vw;
    }

    .datos-paciente input {
        border: none !important;
        border-bottom: 2px solid lightgray !important;
        padding: 1px 3px;
        border-radius: 0px;
    }

    #grad1 {
        background-color: : #9C27B0;
        background-image: linear-gradient(120deg, #FF4081, #81D4FA)
    }

    #msform {
        position: relative;
        margin-top: 20px
    }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            position: relative
        }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            position: relative;
        }

            #msform fieldset:not(:first-of-type) {
                display: none
            }

            #msform fieldset .form-card {
                text-align: left;
                color: #9E9E9E
            }

        #msform input,
        #msform textarea,
        #msform select {
            padding: 0px 8px 4px 8px;
            border: none;
            border-bottom: 1px solid lightgray;
            border-radius: 0px;
            margin-top: 2px;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 16px;
            letter-spacing: 1px;
        }

            #msform input:focus,
            #msform textarea:focus {
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: none;
                font-weight: bold;
                border-bottom: 2px solid #FBC43D;
                outline-width: 0
            }

        #msform .action-button {
            width: 130px;
            background: #FBC43D;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .action-button:hover,
            #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #FBC43D
            }

        #msform .action-button-previous {
            width: 130px;
            background: lightgray;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .action-button-previous:hover,
            #msform .action-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px lightgray
            }



        #msform .success-button {
            width: 130px;
            background: rgba(0,74,143,0.8);
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .success-button:hover,
            #msform .success-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(0,74,143,0.8)
            }

        #msform .success-button-previous {
            width: 130px;
            background: rgba(0,74,143,0.8);
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

            #msform .success-button-previous:hover,
            #msform .success-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(0,74,143,0.8);
            }

    select.list-dt {
        border: none;
        outline: 0;
        border-bottom: 1px solid lightgray;
        padding: 2px 5px 3px 5px;
        margin: 2px
    }

        select.list-dt:focus {
            border-bottom: 2px solid #FBC43D
        }

    .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #2C3E50;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #000000;
            opacity: 1;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 25%;
            opacity: 0.5;
            float: left;
            cursor: pointer;
            position: relative
        }

        #progressbar #account:before {
            content: "S"
        }

        #progressbar li#account.changed:before,
        #progressbar li#account.changed:after {
            background: green;
        }

        #progressbar #personal:before {
            content: "O"
        }

        #progressbar li#personal.changed:before,
        #progressbar li#personal.changed:after {
            background: green;
        }

        #progressbar #payment:before {
            content: "A"
        }

        #progressbar li#payment.changed:before,
        #progressbar li#payment.changed:after {
            background: green;
        }

        #progressbar #confirm:before {
            content: "P"
        }

        #progressbar li#confirm.changed:before,
        #progressbar li#confirm.changed:after {
            background: green;
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #FBC43D
        }

    .radio-group {
        position: relative;
        margin-bottom: 25px
    }

    .radio {
        display: inline-block;
        width: 204;
        height: 104;
        border-radius: 0;
        background: lightblue;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        cursor: pointer;
        margin: 8px 2px
    }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
        }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .btn-diagnosticos {
        background-color: rgba(0,74,143,0.8) !important;
        color: white;
        font-size: 1vw;
        width: 100%;
    }

        .btn-diagnosticos:hover {
            color: white;
        }

    #loadingDiv {
        position: fixed;
        z-index: 9999;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        text-align: center;
        padding-top: 20vh;
    }

        #loadingDiv .spinner-border {
            width: 8vw;
            height: 8vw;
        }

    .diag-box {
        background-color: #FBC43D;
        color: white;
    }

    .select2-container {
        width: 100% !important;
    }

    /*.select2-selection__choice {
        float: initial !important;
        margin: 0 !important;
        font-size:1.5vw !important;
        padding:1vw !important;
    }

    .select2-selection__rendered{
        padding:0.5vw !important;
    }

    .select2-selection--multiple{
        height:6vw !important;
    }*/

    #locality-dropdown {
        max-width: 100% !important;
    }

    .dataTables_wrapper .dataTables_info {
        width: 100% !important;
    }

    .dataTables_wrapper .dataTables_paginate {
        width: 100% !important;
        text-align: center !important;
    }

    .dataTables_wrapper .dataTables_filter {
        width: 100% !important;
        text-align: center !important;
    }

        .dataTables_wrapper .dataTables_filter label {
            width: 100% !important;
            font-weight: bolder;
            text-align: left;
        }

        .dataTables_wrapper .dataTables_filter input {
            width: 80% !important;
        }

    .dataTables_wrapper .dataTables_length {
        display: none;
    }

    .btn-danger {
        width: 100%;
    }

        .btn-danger .material-icons {
            font-size: 1.2vw !important;
        }

    table.dataTable tbody tr.selected {
        background-color: #FBC43D !important;
        color: white !important;
    }

    #msform h3 {
        color: #000;
    }

    .checking {
        cursor: pointer;
        color: lightgray;
    }

    table.dataTable tbody tr.selected .checking {
        color: white !important;
    }

    .tipoconsulta {
        border-radius: 0px;
    }

    .resumenTop {
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 2.5vw;
        background-color: green;
        color: white;
        font-size: 1.2vw;
        line-height: 2.5vw;
        text-align: center;
    }

    .resumenText {
        font-size: 1.2vw;
        margin-top: 3vw;
        color: black;
        cursor: pointer;
    }

    .tipoconsulta {
        border-radius: 0px;
        border: 2px solid #FBC43D;
    }

    .disabledButton {
        background-color: lightgray !important;
        border: 3px solid lightgray !important;
    }

        .disabledButton:hover {
            background-color: lightgray !important;
            border: 3px solid lightgray !important;
        }

        .disabledButton:focus {
            background-color: lightgray !important;
            border: 3px solid lightgray !important;
        }

    .nav-tabs .disabledButton:hover {
        background-color: lightgray !important;
        border: 3px solid lightgray !important;
    }

    .nav-tabs .disabledButton:focus {
        background-color: lightgray !important;
        border: 3px solid lightgray !important;
    }

    .imprimirUanl img {
        width: 100%;
    }

    .imprimirLogo img {
        width: 100%;
    }
</style>

<style type="text/css" media="screen and (max-width: 991px)">
    .foto-paciente {
        width: 10vw;
        height: 10vw;
        border-radius: 10vw;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        font-size: 1.5vw !important;
    }

    #regresarAgenda {
        width: 8vw;
        height: 8vw;
        margin-bottom: 7vw;
    }

        #regresarAgenda img {
            width: 4vw;
            margin-top: 2vw;
        }

    #regresarAgendaTxt {
        font-size: 1.5vw;
        width: 20vw;
        margin-top: 2vw;
        margin-left: -19vw;
    }
</style>

<style type="text/css" media="screen and (max-width: 767px)">
    .foto-paciente {
        width: 18vw;
        height: 18vw;
        border-radius: 18vw;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        font-size: 3vw !important;
    }

    .doc-info {
        text-align: center;
    }

    .dropdown-toggle {
        font-size: 3vw !important;
    }

    .dropdown-item {
        font-size: 3vw !important;
    }

    .datos-paciente label {
        font-size: 4vw;
        text-align: center;
    }

    #progressbar {
        padding: 0px !important;
    }

    #msform fieldset .form-card {
        width: 100%;
        margin: 0px !important;
        padding: 0px !important;
    }

    .resumenText {
        font-size: 3.5vw;
        margin-top: 6vw;
    }

    .resumenTop {
        margin-left: 2vw;
        width: 6vw;
        height: 6vw;
        border-radius: 6vw;
        font-size: 4vw;
        line-height: 6vw;
    }

    .nav-tabs .nav-item {
        z-index: 9;
    }

    #example tfoot th {
        display: table-cell !important;
    }

    .detalles {
        font-size: 10px;
    }

    #barcode {
        margin-left: -12vw;
    }

    .imprimirTitulo h2 {
        font-size: 13px;
    }

    #regresarAgendaTxt {
        display: none;
    }

    #regresarAgenda {
        width: 15vw;
        height: 15vw;
    }

        #regresarAgenda img {
            width: 8vw;
            margin-top: 3vw;
        }
</style>

<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet' href='https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.min.js'></script>
<link rel='stylesheet' href='https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css'>
<link rel='stylesheet' href="~/Content/codebar.css" />

<a href="javascript:history.go(-1)">
    <div id="regresarAgenda" class="animate__animated animate__fadeInRight">
        <img src="~/Imagenes/iconfinder_Artboard_23_6015036.png" />
        <div id="regresarAgendaTxt"> <b>Regresar</b> </div>
    </div>
</a>

<div class="row">
    <div class="col-md-12" id="menu">
        <table>
            <tr>
                <td><a href="@Url.Action("Index", "Home")"><b>Inicio</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Medico", "Manage")"><b>Médico</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Consultas", "Manage")"><b>Consultas</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("ValoracionesPensionistas", "Manage")"><b>Valoración Urgencias</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("SolicitarValoracionPensionistas", "Manage")"><b>Generar Valoración</b></a></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center mt-4">
        <h2><strong>Valoración Urgencias</strong></h2>
    </div>
</div>

<div class="row cuadro animate__animated animate__fadeInLeft">
    <div class="col-lg-12 p-3">
        <div class="row m-0">
            <div class="col-md-8 m-auto p-3">
                <div class="row m-0">
                    <div class="col-lg-2 col-4 p-2 text-center m-auto">
                        <center><div class="foto-paciente"></div></center>
                    </div>
                    <div class="col-lg-10 col-8 p-2 m-auto">
                        <h6>Número de Empleado: <b>@Model.NUMEMP </b> <input type="hidden" id="numemp" value="@Model.NUMEMP" /><input type="hidden" id="vig" value="@Model.FVIGENCIA" /> </h6>
                        <h6>Nombre: <b>@Model.NOMBRES @Model.APATERNO @Model.AMATERNO</b> </h6>
                        <h6>Registro Hospital Universitario: <b>@Model.REGHU</b> </h6>
                        <div class="row m-0">
                            <div class="col-3 p-0">
                                <h6 class="mt-0">Edad: <input type="hidden" id="FNAC" name="FNAC" value="@Model.FNAC" /> <b class="edad"></b> años</h6>
                            </div>
                            <div class="col-3 p-0">
                                <h6 class="mt-0">Sexo: <b>@Model.SEXO</b></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-3 doc-info">
                <h6>Doctor: <b> <span class="putUserName"></span> </b></h6>
                <h6>Especialidad: <b> <span class="putEspecialidad"></span> </b></h6>
            </div>
        </div>
    </div>

    <div class="col-12">
        <ul class="nav nav-tabs" id="custom-content-below-tab mt-4" role="tablist">
            <li class="nav-item">
                <a class="nav-link" style="margin-left:0; background-color:#FBC43D !important; border:3px solid #fbc43d !important;" id="custom-content-listado-tab"><b>Generar Valoración Urgencia</b></a>
            </li>
            <!--li class="nav-item">
                <a class="nav-link" href="@Url.Action("VerOrdenesInternamiento", "Manage", new { id = Model.NUMEMP })" id="custom-content-listado-tab"><b>Ordenes de Internamiento de @Model.NOMBRES</b></a>
            </li-->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("TodasValoracionesPensionistas", "Manage")" id="custom-content-listado-tab"><b>Mis valoraciones</b></a>
            </li>
        </ul>
        <div class="tab-content" id="custom-content-below-tabContent">
            <div class="tab-pane fade show active" id="custom-content-generar" role="tabpanel" aria-labelledby="custom-content-generar-tab">
                <div class="row">
                    <div class="col-12">
                        <div class="row m-0">
                            <!--div class="col-12 text-center mt-4">
                                <h2><strong>Orden de Internamiento</strong></h2>
                            </div-->
                            <!--div class="col-12 p-0 pt-3">
                                <div class="row m-0">
                                    <div class="col-12">
                                        <h6><strong>Datos Paciente</strong></h6>
                                        <div class="linea"></div>
                                    </div>
                                    <div class="col-6 p-3">
                                        <p><b>Nombre: </b>@Model.NOMBRES @Model.AMATERNO @Model.APATERNO</p>
                                        <p><b>CURP: </b>@Model.CURP</p>
                                        <p><b>Fecha de nacimiento: </b>@Model.FNAC</p>
                                    </div>
                                    <div class="col-6 p-3">
                                        <p><b>Sexo: </b>@Model.SEXO</p>
                                        <p><b>Edad: </b><input type="hidden" id="FNAC" name="FNAC" value="@Model.FNAC" /> <span class="edad"></span> años</p>
                                    </div>
                                </div>
                            </div-->
                            <!--div class="col-12 p-0">
                                <div class="row m-0">
                                    <div class="col-12">
                                        <h6><strong>Datos Proveedor</strong></h6>
                                        <div class="linea"></div>
                                    </div>
                                    <div class="col-6 p-3">
                                        <p><b>Proveedor: </b>Servicios Médicos de la UANL</p>
                                        <p><b>Dirección: </b>Avenida. Gonzalitos s/n, Mitras Centro, 64460 Monterrey, N.L.</p>
                                    </div>
                                    <div class="col-6 p-3">
                                        <p><b>Teléfono: </b>81 8348 6902</p>
                                    </div>
                                </div>
                            </div-->

                            <div class="col-12 p-0" id="msform">
                                @using (Html.BeginForm("GuardarValoracionPensionistas", "Manage", FormMethod.Post))
                                {
                                    <div class="row m-0">
                                        <div class="col-12 text-center mt-3">
                                            <h2><strong>Datos Generales de Valoración Urgencias</strong></h2>
                                            <!--div class="linea"></div-->
                                            <input type="hidden" name="numemp" value="@Model.NUMEMP" />
                                            <input type="hidden" name="medico" class="medico" value="" />
                                            <!--input type="hidden" name="proveedor" value="Hospital Universitario" /-->
                                        </div>
                                        <div class="col-12 p-3">
                                            <!--p>
                                                <b>Motivo: </b>
                                                <input class="form-control" name="motivo" required />
                                            </p-->
                                            <p>
                                                <b>Resumen Médico: </b>
                                                <textarea class="form-control" name="resumen_medico" required></textarea>
                                            </p>
                                            <p>
                                                <b>Indicaciones: </b>
                                                <textarea class="form-control" name="indicaciones" required></textarea>
                                            </p>
                                            <p>
                                                <b>Enviar a: </b>
                                                <select class="form-control" name="enviar_a" id="enviara" style="max-width:100%;" required>
                                                    <option selected disabled value="">Selecciona una opción</option>
                                                </select>
                                            </p>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <table id="example" class="table table-bordered table-striped" width="100%">
                                                <caption style="caption-side: top">Selecciona un diagnóstico dando clic en la opción</caption>
                                                <thead>
                                                    <tr>
                                                        <th>Clave</th>
                                                        <th>Descripción Corta</th>
                                                        <th>Descripción Completa</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="3">
                                                            <div class="row m-0 p-2">
                                                                <div class="col-2 col-md-1 p-1 m-auto text-center">
                                                                    <span class="material-icons checking" id="check1">check_circle</span>
                                                                </div>
                                                                <div class="col-10 col-md-11 p-1 m-auto">
                                                                    <div class="row m-0">
                                                                        <div class="col-12 p-0">
                                                                            <input type="text" id="input1" placeholder="Diagnóstico 1" value="">
                                                                            <input type="hidden" id="inputclave1" name="diagnostico1" value="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row m-0 p-2">
                                                                <div class="col-2 col-md-1 p-1 m-auto text-center">
                                                                    <span class="material-icons checking" id="check2">check_circle</span>
                                                                </div>
                                                                <div class="col-10 col-md-11 p-1 m-auto">
                                                                    <div class="row m-0">
                                                                        <div class="col-12 p-0">
                                                                            <input type="text" id="input2" placeholder="Diagnóstico 2" value="">
                                                                            <input type="hidden" id="inputclave2" name="diagnostico2" value="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row m-0 p-2">
                                                                <div class="col-2 col-md-1 p-1 m-auto text-center">
                                                                    <span class="material-icons checking" id="check3">check_circle</span>
                                                                </div>
                                                                <div class="col-10 col-md-11 p-1 m-auto">
                                                                    <div class="row m-0">
                                                                        <div class="col-12 p-0">
                                                                            <input type="text" id="input3" placeholder="Diagnóstico 3" value="">
                                                                            <input type="hidden" id="inputclave3" name="diagnostico3" value="" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="col-md-4 m-auto p-3 text-center">
                                            <button type="submit" class="btn" id="btn-generar" style="width:100%; background-color:rgba(0,74,143,1); color:white;">Generar</button>
                                        </div>
                                        <div class="col-md-4 m-auto p-3 text-center" id="btn-imprimir">
                                            <button type="button" class="btn" style="width:100%; background-color:rgba(0,74,143,1); color:white;">Imprimir</button>
                                        </div>
                                    </div>
                                }
                            </div>

                            <!--div class="col-12 p-0">
                                <div class="row m-0">
                                    <div class="col-12">
                                        <h6><strong>Datos Médico</strong> </h6>
                                        <div class="linea"></div>
                                    </div>
                                    <div class="col-6 p-3">
                                        <p><b>Nombre: </b><span class="putUserName"></span></p>
                                    </div>
                                    <div class="col-6 p-3">
                                        <p><b>Cédula Profesional: </b> <span class="putCedula"></span></p>
                                    </div>
                                </div>
                            </div-->


                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="custom-content-listado" role="tabpanel" aria-labelledby="custom-content-listado-tab">
                <div class="row">
                    <div class="col-12 mt-5">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="imprimirModal" tabindex="-1" role="dialog" aria-labelledby="imprimirModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row m-0 imprimir-content">
                    <div class="col-12 text-center p-0" style="padding-bottom:8px !important;">
                        <div class="row m-0">
                            <div class="col-3 imprimirUanl text-left" style="padding:4px;">
                                <img src="~/Imagenes/logo-uanl-impresion.png" />
                            </div>
                            <div class="col-6 imprimirTitulo" style="padding:4px;">
                                <h3><strong id="enviarATitulo"></strong></h3>
                                <!--h5><strong>Valoración Urgencias</strong></h5-->
                                <h6 style="font-size:15px; margin-top:8px;"><em>Folio: <span id="folio"></span></em></h6>
                                <svg id="barcode"></svg>
                            </div>
                            <div class="col-3 imprimirLogo" style="padding:4px;">
                                <img src="~/Imagenes/logo-sm.png" />
                            </div>
                        </div>
                    </div>
                    <!--div class="col-12 p-0 pt-3">
                        <div class="row m-0">
                            <div class="col-12 text-right" style="padding:4px;">
                                <svg id="barcode"></svg>
                            </div>
                        </div>
                    </div-->
                    <div class="col-12 p-0">
                        <div class="row m-0">
                            <div class="col-12" style="padding:4px;">
                                <h6 style="font-size:18px; margin-top:8px;"><strong>Datos Paciente</strong></h6>
                                <hr class="linea" style="height:1px;width:100%;background-color:#000000; margin-top:2px; margin-bottom:2px;">
                            </div>
                            <div class="col-6" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;"><b>Número de Empleado: </b>@Model.NUMEMP</p>
                                <p style="font-size:13px; margin-bottom:2px;"><b>Nombre: </b>@Model.NOMBRES @Model.APATERNO @Model.AMATERNO</p>
                                <p style="font-size:13px; margin-bottom:2px;"><b>Fecha de nacimiento: </b><span id="fnaci"></span></p>
                                <!--p style="font-size:13px; margin-bottom:2px;"><b>CURP: </b>@Model.CURP</p-->
                            </div>
                            <div class="col-6" style="padding:4px;">
                                <table>
                                    <tr>
                                        <td>
                                            <p style="font-size:13px; margin-bottom:2px;"><b>Edad: </b><input type="hidden" id="FNAC" name="FNAC" value="@Model.FNAC" /> <span class="edad"></span> años</p>
                                        </td>
                                        <td>
                                            <p style="font-size:13px; margin-bottom:2px; margin-left:5px;"><b>Sexo: </b>@Model.SEXO</p>
                                        </td>
                                    </tr>
                                </table>
                                <p style="font-size:13px; margin-bottom:2px;"><b>Dependencia: </b><span id="dependencia"></span></p>
                                <p style="font-size:13px; margin-bottom:2px;"><b>Vigencia: </b><span id="vigencia"></span></p>
                            </div>
                        </div>
                    </div>

                    <!--div class="col-12 p-0">
                        <div class="row m-0">
                            <div class="col-12" style="padding:4px;">
                                <h6 style="font-size:18px; margin-top:8px;"><strong>Datos Proveedor</strong></h6>
                                <hr class="linea" style="height:1px;width:100%;background-color:#000000; margin-top:2px; margin-bottom:2px;">
                            </div>
                            <div class="col-6" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;"><b>Proveedor: </b>Servicios Médicos de la UANL</p>
                                <p style="font-size:13px; margin-bottom:2px;"><b>Dirección: </b>Avenida. Gonzalitos s/n, Mitras Centro, 64460 Monterrey, N.L.</p>
                            </div>
                            <div class="col-6" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;"><b>Teléfono: </b>81 8348 6902</p>
                            </div>
                        </div>
                    </div-->

                    <div class="col-12 p-0">
                        <div class="row m-0">
                            <div class="col-12" style="padding:4px;">
                                <h6 style="font-size:18px; margin-top:8px;"><strong>Datos Generales de Valoración Urgencias</strong></h6>
                                <hr class="linea" style="height:1px;width:100%;background-color:#000000; margin-top:2px; margin-bottom:2px;">
                            </div>

                            <div class="col-6" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;">
                                    <b>Resumen Médico: </b> <br />
                                    <span id="resumen_medico"></span>
                                </p>
                            </div>
                            <div class="col-6" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;">
                                    <b>Fecha de registro: </b> <br />
                                    <span id="fecha_registro"></span>
                                </p>
                            </div>

                            <div class="col-12" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;">
                                    <b>Indicaciones: </b> <br />
                                    <span id="indicaciones"></span>
                                </p>
                                <p style="font-size:13px; margin-bottom:2px;">
                                    <b>Diagnósticos: </b> <br />
                                    <span id="diagnostico1"></span> <br />
                                    <span id="diagnostico2"></span> <br />
                                    <span id="diagnostico3"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0">
                        <div class="row m-0">
                            <div class="col-12" style="padding:4px;">
                                <h6 style="font-size:18px; margin-top:8px;"><strong>Datos Médico</strong> </h6>
                                <hr class="linea" style="height:1px;width:100%;background-color:#000000; margin-top:2px; margin-bottom:2px;">
                            </div>
                            <div class="col-6" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;"><b>Nombre: </b><span class="putUserName"></span></p>
                            </div>
                            <div class="col-6" style="padding:4px;">
                                <p style="font-size:13px; margin-bottom:2px;"><b>Cédula Profesional: </b> <span class="putCedula"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 text-center mt-3 mb-2">
                        <p><em>Servicios Médicos de la UANL.</em></p>
                    </div>
                    <div class="col-md-6 m-auto text-center p-0">
                        <button style="width:100%;" class="btn detalles imprimir">Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    $('#loadingDiv').hide();
    var numemp = $('#numemp').val();
    $('.foto-paciente').css("background-image", "url(http://148.234.143.204/smuanl_web/fotos_dhab/" + numemp + ".jpg)");
</script>

<script>
    var split1 = $('#FNAC').val().split(" ");
    //console.log(split1[0]);
    var split2 = split1[0].split("/");
    var hoy = new Date().getFullYear();
    var edad = hoy - split2[2];
    $('.edad').html(edad);
</script>

<script type="text/javascript">
    $.ajax({
        type: 'GET',
        url: '@Url.Action("GetMedicoNombres", "Manage")',
        dataType: 'json',
        cache: false,
        success: function (data) {
            $('.putJustName').text(data.nombres);
            $('.putUserName').html(data.nombres + " " + data.apellido_paterno + " " + data.apellido_materno);
            $('.putEspecialidad').html(data.especialidad);
            $('.putCedula').html(data.cedula);
            $('.putCedulaEsp').html(data.cedula_esp);
            $('.medico').val(data.numero);
        },
        error: function (xhr, status, error) {
            alert("Error");
        }
    });

    $.ajax({
        url: '@Url.Action("GetDhabientesInfo", "Manage")',
        dataType: "json",
        data: { search: $('#numemp').val() },
        success: function (data) {
            $('#dependencia').text(data.depen);

        },
        error: function (xhr, status, error) {
            alert("Error");
        }
    });

    var vigencia = $('#vig').val();
    var splitv1 = vigencia.split(' ');
    console.log(splitv1[0]);
    $('#vigencia').text(splitv1[0]);
</script>


<script>
    $.ajax({
        url: '@Url.Action("ValoracionEnviarA", "Manage")',
        dataType: "json",
        data: { },
        success: function (data) {
            $.each(data, function (i, item) {
                $('#enviara').append($('<option value="' + data[i].id + '">' + data[i].ubicacion + '</option>'));
            });
        },
        error: function (xhr, status, error) {
            alert("Error");
        }
    });
</script>


<script src='https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js'></script>
<script src="~/Scripts/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>


<script>
    $(document).ready(function () {
        $('#check1').css("color", "lightgray");
        $('#check2').css("color", "lightgray");
        $('#check3').css("color", "lightgray");

        $.fn.dataTable.ext.order['dom-checkbox'] = function (settings, col) {
            return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                return $(td).closest('tr').hasClass('selected') ? '1' : '0';
            });
        }

        var table = $('#example').DataTable({
            "responsive": true,
            "ajax": {
                "url": "/SISM-Medico/json/diagnosticos.json",
                "dataSrc": "",
            },
            initComplete: function () {
                var uno = 0;
                var dos = 0;
                var tres = 0;

                if ($('#input1').val()) {
                    this.api()
                        .column(1)
                        .data()
                        .each(function (value, index) {
                            if ($('#input1').val() == value) {
                                uno = index;
                            }
                        });
                }

                if ($('#input2').val()) {
                    this.api()
                        .column(1)
                        .data()
                        .each(function (value, index) {
                            if ($('#input2').val() == value) {
                                dos = index;
                            }
                        });
                }

                if ($('#input3').val()) {
                    this.api()
                        .column(1)
                        .data()
                        .each(function (value, index) {
                            if ($('#input3').val() == value) {
                                tres = index;
                            }
                        });
                }

                console.log(uno);
                console.log(dos);
                console.log(tres);

                if (uno != 0 && dos != 0 && tres != 0) {
                    table.rows([tres, dos, uno]).select();
                } else {
                    if (uno != 0 && dos != 0) {
                        table.rows([uno, dos]).select();
                    } else {
                        if (uno != 0) {
                            table.row(uno).select();
                        }
                    }
                }


            },
            "language": {
                "search": "Buscar diagnóstico:",
                "zeroRecords": "No se encontró ningun diagnóstico",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ diagnóticos",
                "lengthMenu": "Mostrando _MENU_ diagnóticos",
            },
            "columns": [
                { "data": "Clave" },
                { "data": "DesCorta" },
                { "data": "DescCompleta" }
            ],
            columnDefs: [{
                className: 'select-checkbox',
                targets: 0,
                orderDataType: 'dom-checkbox',
                'checkboxes': {
                    'selectRow': true
                },
                'render': function (data, type, full, meta) {
                    return '<span class= "material-icons checking"> check_circle</span><input class="claveInput" type="hidden" value="' + data + '">';
                }
            }],
            select: {
                style: 'os',
                selector: 'td:first-child',
                'style': 'multi'
            },//,

        }).on('select', function (e, dt, type, ix) {
            var selected = dt.rows({ selected: true });
            var rowData1 = dt.rows({ selected: true }).data()[0];
            var rowData2 = dt.rows({ selected: true }).data()[1];
            var rowData3 = dt.rows({ selected: true }).data()[2];

            table.order([0, 'desc']).draw();

            if (rowData1) {
                if (!$('#input1').val()) {
                    $('#input1').val(rowData1.DesCorta);
                    $('#inputclave1').val(rowData1.Clave);
                    $('#input1').css("border-bottom", "2px solid #FBC43D");
                    $('#check1').css("color", "#FBC43D");
                }
            }

            if (rowData2) {
                if (!$('#input2').val()) {
                    $('#input2').val(rowData2.DesCorta);
                    $('#inputclave2').val(rowData2.Clave);
                    $('#input2').css("border-bottom", "2px solid #FBC43D");
                    $('#check2').css("color", "#FBC43D");
                }
            }

            if (rowData3) {
                if (!$('#input3').val()) {
                    $('#input3').val(rowData3.DesCorta);
                    $('#inputclave3').val(rowData3.Clave);
                    $('#input3').css("border-bottom", "2px solid #FBC43D");
                    $('#check3').css("color", "#FBC43D");
                }
            }

            if (!$("#input1").val()) {

            } else {

                var input1 = $("#input1").val();
                var input2 = $("#input2").val();
                var input3 = $("#input3").val();
            }



            var hash = "#btn-generar";
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function () {
                window.location.href = "#btn-generar"
            });

            if (selected.count() > 3) {
                dt.rows(ix).deselect();
            }


        }).on('deselect', function (e, dt, type, indexes) {
            var info = table[type](indexes).data().DesCorta;
            table[type](indexes).nodes().to$().removeClass('selected');

            if (info == $('#input1').val()) {
                $('#input1').val("");
                $('#inputclave1').val("");
                $('#input1').css("border-bottom", "1px solid lightgray");
                $('#check1').css("color", "lightgray");
            }

            if (info == $('#input2').val()) {
                $('#input2').val("");
                $('#inputclave2').val("");
                $('#input2').css("border-bottom", "1px solid lightgray");
                $('#check2').css("color", "lightgray");
            }

            if (info == $('#input3').val()) {
                $('#input3').val("");
                $('#inputclave3').val("");
                $('#input3').css("border-bottom", "1px solid lightgray");
                $('#check3').css("color", "lightgray");
            }


            if (!$("#input1").val()) {
                $("#tipoconsulta1").attr('disabled', 'disabled');
                $("#tipoconsulta1").val($("#tipoconsulta1 option:first").val());

            } else {

            }


            var hash = "#siguiente3";
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function () {
                window.location.href = "#siguiente3"
            });

        });

    });

</script>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js'></script>
<script>
    $('.imprimir').on('click', function () {
        //$(".imprimir-content .btn-secondary").hide();
        //$(".imprimir-content .btn-success").hide();
        //$(".imprimir-content .btn-editar").hide();
        //$(".imprimir-content .btn-eliminar").hide();
        $.print(".imprimir-content");
    });

    $('#btn-imprimir').hide();
</script>

<script src="~/Scripts/JsBarcode.code39.min.js"></script>
@if (TempData["message"] != null)
{
<script>
        $('#imprimirModal').modal("show");

        $('#btn-imprimir').show();

        Swal.fire({
            icon: 'success',
            title: '@TempData["message"]',
            //text: 'Something went wrong!',
        });

        JsBarcode("#barcode", '@TempData["folio"]', {
            height: 70,
            displayValue: false
        });

        var split1 = $('#FNAC').val().split(" ");
        $('#fnaci').text(split1[0]);

        @{
            var estudios = TempData["estudios"] ?? string.Empty;
            //var motivo = TempData["motivo"] ?? string.Empty;
            var resumen_medico = TempData["resumen_medico"] ?? string.Empty;
            var indicaciones = TempData["indicaciones"] ?? string.Empty;
            var diagnostico1 = TempData["diagnostico1"] ?? string.Empty;
            var diagnostico2 = TempData["diagnostico2"] ?? string.Empty;
            var diagnostico3 = TempData["diagnostico3"] ?? string.Empty;
            var enviarATitulo = TempData["enviarA"] ?? string.Empty;
        }

        var estudios = '@Html.Raw(estudios)';
        //var motivo = '';
        var resumen_medico = '@Html.Raw(resumen_medico)';
        var indicaciones = '@Html.Raw(indicaciones)';
        var diagnostico1 = '@Html.Raw(diagnostico1)';
        var diagnostico2 = '@Html.Raw(diagnostico2)';
        var diagnostico3 = '@Html.Raw(diagnostico3)';
        var enviarATitulo = '@Html.Raw(enviarATitulo)';


        $('#folio').text('@TempData["folio"]');
        $('#fecha_registro').text('@TempData["fecha_registro"]');

        $('#estudios').text('@Html.Raw(estudios)');
        //$('#motivo').text('');
        $('#resumen_medico').text('@Html.Raw(resumen_medico)');
        $('#indicaciones').text('@Html.Raw(indicaciones)');

        $('#diagnostico1').text('@Html.Raw(diagnostico1)');
        $('#diagnostico2').text('@Html.Raw(diagnostico2)');
        $('#diagnostico3').text('@Html.Raw(diagnostico3)');
        $('#enviarATitulo').text('Valoración @Html.Raw(enviarATitulo)');

        $.ajax({
            url: '@Url.Action("GetNombreDiagnosticos", "Manage")',
            dataType: "json",
            data: { search: $('#diagnostico1').text() },
            success: function (data) {
                $('#diagnostico1').text(data.descorta);

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });

        $.ajax({
            url: '@Url.Action("GetNombreDiagnosticos", "Manage")',
            dataType: "json",
            data: { search: $('#diagnostico2').text() },
            success: function (data) {
                $('#diagnostico2').text(data.descorta);

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });

        $.ajax({
            url: '@Url.Action("GetNombreDiagnosticos", "Manage")',
            dataType: "json",
            data: { search: $('#diagnostico3').text() },
            success: function (data) {
                $('#diagnostico3').text(data.descorta);

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });

</script>
}


@if (TempData["message_error"] != null)
{
    <script>
        Swal.fire({
            icon: 'warning',
            title: '@TempData["message_error"]',
            //text: 'Something went wrong!',
        });
   </script>
}

<script>
    $("#btn-imprimir").click(function () {
        $('#imprimirModal').modal("show");
    });
    </script>