@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Consultas - Servicios Médicos";
    var user = HttpContext.Current.User.Identity.GetUserId();
}

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


<style>
    .uanl-logo {
        width: 10vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }

    @@font-face {
        font-family: 'Effra-Regular';
        src: url('~/fonts/Effra-Regular.eot');
        src: url('~/fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'), url('~/fonts/Effra-Regular.ttf') format('truetype');
    }

    @@font-face {
        font-family: 'Effra-Bold';
        src: url('~/fonts/Effra-Bold.eot');
        src: url('~/fonts/Effra-Bold.eot?#iefix') format('embedded-opentype'), url('~/fonts/Effra-Bold.ttf') format('truetype');
    }


    .somos-uni {
        width: 5vw;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }

    .linea-arriba {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 2.5vw;
        margin-top: 5.8vw;
    }

    .linea-abajo {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 2.5vw;
        margin-bottom: 0.7vw;
    }

    .fc-title {
        color: white;
    }

    .fc-time {
        color: white;
    }

    .fc-day-grid-event:hover .fc-title {
        color: black !important;
    }

    .fc-day-grid-event:hover .fc-time {
        color: black !important;
    }

    #busqueda input {
        padding: 0px 8px 4px 8px;
        border: none;
        border-bottom: 1px solid lightgray;
        border-radius: 0px;
        margin-top: 2px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        color: #2C3E50;
        font-size: 16px;
        letter-spacing: 1px;
    }

        #busqueda input:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: none;
            font-weight: bold;
            border-bottom: 2px solid #FBC43D;
            outline-width: 0
        }

    .btn-buscar {
        background-color: #FBC43D !important;
        color: white !important;
    }

        .btn-buscar:hover {
            background-color: #FBC43D !important;
            color: white !important;
        }

    .btn-guardar {
        background-color: #FBC43D !important;
        color: white !important;
    }

        .btn-guardar:hover {
            background-color: #FBC43D !important;
            color: white !important;
        }

    .btnbuscapac {
        width: 1.5vw;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }

    .dataTables_length {
        display: none;
    }

    .btn-asignar {
        background-color: #FBC43D !important;
        color: white !important;
        border: 2px solid #FBC43D;
        width: 100px;
    }

        .btn-asignar:hover {
            background-color: #FBC43D !important;
        }

    .btn-imprimir {
        background-color: rgba(0,74,143,1) !important;
        color: white !important;
        border: 2px solid rgba(0,74,143,1);
        width: 100px;
    }

        .btn-imprimir:hover {
            background-color: rgba(0,74,143,1) !important;
        }

    .foto-paciente {
        width: 6vw;
        height: 6vw;
        border-radius: 6vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0,74,143,0.8);
    }

    .form-control {
        max-width: 100%;
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid #FBC43D;
    }

    .btn-asignar-modal {
        background-color: #FBC43D !important;
        border: 2px solid #FBC43D !important;
        color: white !important;
        width: 100%;
        max-width: 100%;
    }

    .modal-content {
        margin-top: 10vw;
    }

    .paginate_button {
        padding: 2px 10px;
        cursor: pointer;
    }

    .paging_simple_numbers .current {
        background-color: #FBC43D !important;
        color: white !important;
        cursor: pointer;
    }

    .previous {
        padding-left: 0px !important;
    }

    .dataTables_paginate {
        margin-top: 10px;
    }

    #example2_filter label {
        width: 100%;
    }

    #example2_filter input {
        width: 85%;
        max-width: 85%;
        margin-left: 10px;
        background-color: transparent;
    }

    #imprimirModal .modal-dialog {
        max-width: 900px;
    }

    #imprimirModal table {
        width: 100%;
    }

    #imprimirModal th {
        border: 1px solid black;
        padding: 3px 5px;
    }

    #imprimirModal td {
        border: 1px solid black;
        padding: 3px 5px;
    }
</style>


<img class="linea-abajo" src="~/Imagenes/lineas-uanl-izquierda.png">
<img class="linea-arriba" src="~/Imagenes/lineas-uanl-derecha.png">

<div id="loadingDiv" style="display:none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="row">
    <div class="col-md-12" id="menu">
        <table>
            <tr>
                <td><a href="@Url.Action("Index", "Home")"><b>Inicio</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Medico", "Manage")"><b>Médico</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("PruebaAntigenos", "Manage")"><b>Prueba Antígenos</b></a></td>
            </tr>
        </table>
    </div>

    <div class="col-md-12 text-center m-auto pl-3 pr-3 pt-1 pb-0 inputBarcode" id="msform">
        <img src="~/Imagenes/uanl-logo.png" class="uanl-logo" />
        <h4 class="mt-3 mb-3"><b>Prueba Antígenos</b></h4>
    </div>

    <div class="col-md-10 m-auto p-0" id="busqueda">


        @if (!HttpContext.Current.User.IsInRole("PruebaAntigenosImpresion")) {

        <div class="row" style=" margin-bottom: 10px;">

            <div class="col-2 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarPac" placeholder="NumExp" />
            </div>
            <div class="col-2 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarPac2" placeholder="NumEmp" />
            </div>
            <div class="col-3 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarNombrePac" placeholder="Nombres" />
            </div>
            <div class="col-2 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarApellidoPac" placeholder="Apellido Paterno" />
            </div>
            <div class="col-2 p-1">
                <input type="text" value="" class="form-control" autocomplete="off" id="TxtBuscarApellidoMPac" placeholder="Apellido Materno" />
            </div>
            <div class="col-1 p-1">
                <a class="btn btn-buscar">
                    <img src="~/Imagenes/search1.png" class="btnbuscapac" />
                </a>
            </div>
        </div>



        <table id="example" class="table table-bordered table-striped" width="100%">
            <!--caption style="caption-side: top">Selecciona un derechohabiente</caption-->
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Num. Exp.</th>
                    <th>Num. Emp.</th>
                    <th>Sexo</th>
                    <th>Edad</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        }

        <h5 class="mt-5"><b>Registros</b></h5>
        <table id="example2" class="table table-bordered table-striped" width="100%">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
        </table>



    </div>

    <div class="col-md-10 text-center m-auto p-3">
        <img src="~/Imagenes/somos-uni.png" class="somos-uni" />
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="agendarModal" tabindex="-1" role="dialog" aria-labelledby="agendarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("GuardarPruebaAnt", "ServiciosMedicos", FormMethod.Post))
                {
                    <div class="row m-0">
                        <div class="col-12 p-2 m-auto text-center">
                            <center><div class="foto-paciente"></div></center>
                            <h6 class="m-0 pt-3">Nombre: <b id="nombresModal"></b></h6>
                            <h6 class="m-0">Sexo: <b id="sexoModal"></b> Edad: <b id="edadModal"></b></h6>
                            <h6 class="m-0 pt-3"><b id="vigenciaModal"></b></h6>
                            <h6 class="m-0 pt-3">Fecha de vigencia: <b id="fechavigenciaModal"></b></h6>
                            <h6 class="m-0 pt-3">Tipo: <b id="tipoModal"></b></h6>
                            <!--h6 class="m-0 pt-3">Fecha de solicitud: <b id="fechaRealizaModal"></b></h6-->
                            <input type="hidden" name="numexp" id="numexpModal" />
                            <input type="hidden" name="id" id="idModal" value="0" />
                            <!--input type="hidden" name="solicitudid" id="solIdModal" /-->
                        </div>
                        <div class="col-12 p-2">
                            <select class="form-control mt-3" name="resultado" id="resultado" required>
                                <option value="" selected disabled>Selecciona una opción</option>
                                <option value="1">Positivo</option>
                                <option value="0">Negativo</option>
                            </select>
                            <textarea class="form-control mt-3" name="nota" id="nota" placeholder="Nota"></textarea>
                            <button type="submit" class="btn btn-guardar mt-4" style="width:100%;">Guardar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="imprimirModal" tabindex="-1" role="dialog" aria-labelledby="agendarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body imprimir-content">
                <div class="row m-0">
                    <div class="col-3 p-2 m-auto text-center">
                        <img style="width:100%;" src="~/Imagenes/Servicios Medicos_Mesa de trabajo 1.png" />
                    </div>
                    <div class="col-9 p-2 m-auto text-center">
                        <h3><b>ANALISIS DE LABORATORIO</b></h3>
                    </div>
                    <div class="col-12 p-2 m-auto">
                        <table style="width:100%">
                            <tr>
                                <td style="border: 1px solid black; padding: 3px 5px;"><b>Nombre del paciente</b></td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center"> <b><span id="imprimirNombre"></span></b></td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center">No. de Orden: <span id="imprimirId"></span></td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 3px 5px;">Edad:</td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center"><span id="imprimirEdad"></span></td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center">Fecha: <span id="imprimirFecha"></span></td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 3px 5px;">Fecha de nacimiento:</td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center"><span id="imprimirFnac"></span></td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center">Sexo: <span id="imprimirSexo"></span></td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-12 p-2 m-auto text-center">
                        <h6 class="mt-5"><b>PRUEBA ANTIGENO PARA SARS Cov2, COVID-19</b></h6>
                    </div>

                    <div class="col-8 m-auto p-2">
                        <table style="width:100%">
                            <tr>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center">EXAMEN</td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center">RESULTADO</td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center">VALOR DE REFERENCIA</td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center"><b>Antigenos SARS COV 2</b></td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center"><b><span id="imprimirResultado"></span></b></td>
                                <td style="border: 1px solid black; padding: 3px 5px;" class="text-center">NEGATIVO</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-12 m-auto p-2">
                        <p class="mt-5 m-0 p-0">Interpretación:</p>
                        <p class="m-0 p-0">*Un resultado <b>POSITIVO</b> indica que se detectó antígeno SARS-CoV-2 en la muestra.</p>
                        <p class="m-0 p-0">*Un resultado <b>NEGATIVO</b> indica que no se detectó antígeno especifico del virus SARS-CoV-2, esto puede ser porque no haya virus o porque se encuentra en concentraciones indetectables.</p>
                        <p class="m-0 p-0">Un resultado negativo no descarta la presencia del virus SARS-CoV-2.</p>
                        <p class="m-0 p-0">Metodología: Inmunocromatografia SARS-CoV-2 Rapid Antigen Test</p>
                        <p class="m-0 p-0">Fabricante: Roche Inc.</p>
                    </div>

                    <div class="col-12 m-auto text-center p-2">
                        <img class="mt-3" style="width:20%" src="~/Imagenes/firma-antigenos.png" />
                        <p class="m-0 p-0">Juana Margarita Fuentes Gonzalez</p>
                        <p class="m-0 p-0">Químico Clínico Biólogo</p>
                        <p class="m-0 p-0">Cédula 1796108</p>
                    </div>

                </div>
                <!--div class="row m-0 mt-3">
                    <div class="col-12 p-2 text-center text-white" style="background-color: #92d050;">
                        <p class="m-0 p-0"><b>C. San Lorenzo 270, Col. Vista Hermosa, Monterrey, N.L.</b></p>
                    </div>
                </div-->
                <div class="row m-0">
                    <div class="col-12 p-2">
                        <button type="button" style="width:100%; background-color:rgba(0,74,143,1);" class="btn btn-success imprimir">Imprimir</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    function imgError(image) {
        image.onerror = "";
        image.src = "http://148.234.143.205/SISM/Imagenes/uanl.png";
        return true;
    }
</script>


<script src='https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js'></script>
<script src="~/Scripts/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

<script>

    $(".btn-buscar").click(function () {
        var numexp = $('#TxtBuscarPac').val();
        var numemp = $('#TxtBuscarPac2').val();
        var nombre = $('#TxtBuscarNombrePac').val();
        var apaterno = $('#TxtBuscarApellidoPac').val();
        var amaterno = $('#TxtBuscarApellidoMPac').val();

        var table = $('#example').DataTable({
            destroy: true,
            searching: false,
            responsive: true,
            "ajax": {
                "url": "@Url.Action("BuscarDhabPruebaCovid", "ServiciosMedicos")" + "?numexp=" + $("#TxtBuscarPac").val() + "&numemp=" + $("#TxtBuscarPac2").val() + "&nombre=" + $("#TxtBuscarNombrePac").val() + "&apaterno=" + $("#TxtBuscarApellidoPac").val() + "&amaterno=" + $("#TxtBuscarApellidoMPac").val(),
                //"url": "/Manage/BsqHU?v_NUMEMP=" + $("#TxtBuscarPac").val() + "&v_nombres=" + $("#TxtBuscarNombrePac").val() + "&v_apellido=" + $("#TxtBuscarApellidoPac").val() + "&v_apellidoM=" + $("#TxtBuscarApellidoMPac").val(),
                "dataSrc": "",
            },
            "initComplete": function (settings, json) {
                $('#loadingDiv').hide();
            },

            "language": {
                "search": "Buscar derechohabiente:",
                "zeroRecords": "No se encontró ningun derechohabiente",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },

                "loadingRecords": "Un momento, cargando derechohabientes...",
                "processing": "Procesando derechohabientes...",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ derechohabientes",
                "lengthMenu": "Mostrando _MENU_ derechohabientes",
                "lengthMenu": "Mostrando _MENU_ derechohabientes",
            },
            "columns": [
                { "data": "paciente" },
                { "data": "numexp" },
                { "data": "numemp" },
                { "data": "sexo" },
                { "data": "edad" },
                { "data": "info" },
            ],
            columnDefs: [
                {
                    targets: 5,
                    'render': function (data, type, full, meta) {
                        return '<button data-info="' + data + '" class="btn-asignar">Confirmar</button>';
                    }
                },
            ],
        });

        table.on('click', '.btn-asignar', function () {

            var info = $(this).attr('data-info');
            var split = info.split('*');
            var numexp = split[0];
            var paciente = split[1];
            var edad = split[2];
            var sexo = split[3];
            var vigencia = split[4];
            var fecha_vigencia = split[5];
            var tipo = split[6];
            var id = split[7];

            //var id = split[4];

            $("#resultado").val($("#referido2 option:first").val());
            $("#nota").val('');
            //var solicitudid = split[4];
            //var fechaRealiza = split[5];

            $('.foto-paciente').css('background-image', 'url("http://148.234.143.204/smuanl_web/fotos_dhab/' + numexp + '.jpg")');
            $('#nombresModal').text(paciente);
            $('#sexoModal').text(sexo);
            $('#edadModal').text(edad);

            if (vigencia == "Vigente") {
                $('#vigenciaModal').html("<span style='background-color:#297a18; color:white; padding:5px 20px;'>" + vigencia + '</span>');
                $('#fechavigenciaModal').text(fecha_vigencia);
            } else {
                $('#vigenciaModal').html("<span style='background-color:#e61021; color:white; padding:5px 20px;'>" + vigencia + '</span>');
                $('#fechavigenciaModal').text(fecha_vigencia);
            }

            $('#tipoModal').text(tipo);
            $('#numexpModal').val(numexp);
            //$('#idModal').val(0);
            $('#idModal').val(id);
            //$('#solIdModal').val(solicitudid);
            //$('#fechaRealizaModal').text(fechaRealiza);
            //$('#botonModal').html('<a class="btn btn-buscar">Confirmar</a>');

            $('#agendarModal').modal("show");

        });



    });

</script>

<script>
    $(document).ready(function () {

        var table2 = $('#example2').DataTable({
            destroy: true,
            searching: true,
            responsive: true,
            "ajax": {
                "url": "@Url.Action("RegistrosPruebaAnti", "ServiciosMedicos")",
                "dataSrc": "",
            },
            "language": {
                "search": "Buscar registro:",
                "zeroRecords": "No se encontró ningun registro",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
                "loadingRecords": "Un momento, cargando registros...",
                "processing": "Procesando registros...",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "lengthMenu": "Mostrando _MENU_ registros",
            },
            "columns": [
                { "data": "paciente" },
                { "data": "fecha" },
                { "data": "info" },
            ],
            "order": [[1, 'desc']],
            "columnDefs": [
                //{ "visible": false, "targets": 5 },
                {
                    //className: 'select-checkbox',
                    targets: 2,
                    width: 250,
                    //orderDataType: 'dom-checkbox',
                    'checkboxes': {
                        'selectRow': true
                    },
                    /*
                    'render': function (data, type, full, meta) {
                        return '<a data-info="' + data + '" type="button" class="btn btn-asignar">Editar</a> <a data-info="' + data + '" type="button" class="btn btn-imprimir">Imprimir</a>';
                    }*/
                },
                /*{
                    targets: 4,
                    'render': function (data, type, full, meta) {
                        if (data == 0) {
                            return 'No disponible';
                        } else {
                            return 'Disponible';
                        }
                    }
                },*/
            ],
        });


        table2.on('click', '.btn-asignar', function () {

            var info = $(this).attr('data-info');
            var split = info.split('*');
            var numexp = split[0];
            var paciente = split[1];
            var edad = split[2];
            var sexo = split[3];
            var vigencia = split[4];
            var fecha_vigencia = split[5];
            var resultado = split[6];
            var nota = split[7];
            var tipo = split[8];
            var id = split[9];
            //var id = split[4];
            //var resultado = split[5];
            //var nota = split[6];

            //alert(resultado);
            //var solicitudid = split[4];
            //var fechaRealiza = split[5];

            $('.foto-paciente').css('background-image', 'url("http://148.234.143.204/smuanl_web/fotos_dhab/' + numexp + '.jpg")');
            $('#nombresModal').text(paciente);
            $('#sexoModal').text(sexo);
            $('#edadModal').text(edad);

            if (vigencia == "Vigente") {
                $('#vigenciaModal').html("<span style='background-color:#297a18; color:white; padding:5px 20px;'>" + vigencia + '</span>');
            } else {
                $('#vigenciaModal').html("<span style='background-color:#e61021; color:white; padding:5px 20px;'>" + vigencia + '</span>');
            }

            $('#fechavigenciaModal').text(fecha_vigencia);

            //$('#numexpModal').val(numexp);
            //$('#idModal').val(id);

            $("#resultado option").each(function () {
                var val = $(this).val();
                if (val == resultado) {
                    $(this).prop('selected', true);
                }
            });

            $('#nota').val(nota);
            $('#tipoModal').text(tipo);
            $('#idModal').val(id);

            //$('#solIdModal').val(solicitudid);
            //$('#fechaRealizaModal').text(fechaRealiza);
            //$('#botonModal').html('<a class="btn btn-buscar">Confirmar</a>');

            $('#agendarModal').modal("show");

        });


        table2.on('click', '.btn-imprimir', function () {

            var info = $(this).attr('data-info');
            var split = info.split('*');
            var id = split[9];

            $.ajax({
                url: '@Url.Action("DetallesAntigenos", "ServiciosMedicos")',
                dataType: "json",
                data: { id: id },
                success: function (data) {
                    //alert(data.paciente);
                    $('#imprimirNombre').text(data.paciente);
                    $('#imprimirId').text(data.id);
                    $('#imprimirEdad').text(data.edad);
                    $('#imprimirFecha').text(data.fecha);
                    $('#imprimirFnac').text(data.fnac);
                    $('#imprimirSexo').text(data.sexo);
                    $('#imprimirResultado').text(data.resultado);


                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        //stitle: 'Expediente no encontrado',
                        showConfirmButton: false,
                        timer: 10000
                    });
                }
            });

            $('#imprimirModal').modal("show");

        });


    });
</script>


<link rel='stylesheet' href="~/Content/codebar.css" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js'></script>
<script>
    $('.imprimir').on('click', function () {
        //$(".imprimir-content .btn-secondary").hide();
        //$(".imprimir-content .btn-success").hide();
        //$(".imprimir-content .btn-editar").hide();
        //$(".imprimir-content .btn-eliminar").hide();
        $.print(".imprimir-content");
    });
</script>



@if (TempData["message_success"] != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        Swal.fire({
            icon: 'success',
            title: '@TempData["message_success"]',
        });
    </script>
}

