@model UanlSISM.Models.EnfermeriaInventario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnfermeriaInventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entradas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entradas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
