@*DATATABLES*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
@*CSS only*@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
@*JavaScript Bundle with Popper*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="~/JavaScript/jquery.tablesorter.js" type="text/javascript"></script>
@*SWAL FIRE*@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<row class="row m-0">
    <div class="col-md-12" id="menu">
        <table>
            <tr>
                <td><a href="@Url.Action("Index", "Home")"><b>Inicio</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Medico", "Manage")"><b>Médico</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
            </tr>
        </table>
    </div>
</row>

<row class="row m-0">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="row">
                <h5 style="text-align:center">ORDENES DE COMPRA</h5>
            </div>
            <div class="row">
                <h6 style="text-align:center"><em>Compras</em></h6>
            </div>
        </div>
    </div>
</row>
@*<br />*@

<style>
    table.dataTable {
        width: 100% !important;
    }

    .uanl-logo {
        width: 10vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }

    .btn-space {
        margin-right: 5px;
    }

    /*#DetalleOCModal .modal-dialog {
        height: 100vh;
        margin-top: 0px;
    }*/
    .modal {
        padding: 0 !important;
    }

    #DetalleOCModal .modal-dialog {
        /*height: 100vh;
        margin-top: 0px;*/
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }

</style>

<div class="btn-toolbar">
    <button type="button" class="btn btn-primary btn-space" onclick="Regresar()">REQUISICIONES (INICIO)</button>
</div>

<div class="row">
    <table class="table table-striped table-hover" id="tbl_OCgeneradas">
        <thead>
            <tr>
                <th>Identificador<br /> O.C</th>
                <th>Folio<br />O.C</th>
                <th>Fecha<br /> O.C</th>
                <th>Usu. Elaboró<br />O.C</th>
                <th>Estatus<br /> O.C</th>
                <th>Folio<br /> Req.</th>
                <th>Fecha<br /> Req.</th>
                <th>Contrato<br /> Req.</th>
                <th>Ver Detalle<br /> O.C</th>
                <th>Eliminar<br />O.C</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="DetalleOCModal" tabindex="-1" role="dialog" aria-labelledby="NuevaRequiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body imprimir-content">
                <div class="row">
                    <input id="Id_OC" name="Id_OC" value="" style="display: none;" />
                </div>
                <div class="row m-0 text-center pt-4">
                    <div class="col-2 m-auto imprimirUanl">
                        <img src="~/Imagenes/uanl.png" style="width:90px; height:90px" />
                    </div>
                    <div class="col-8 m-auto imprimirTitulo">
                        <h5>UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN</h5>
                        <div style="        border: 0.5px solid rgb(217, 220, 217);"></div>
                        <h5>SERVICIOS MÉDICOS</h5>
                        <div class="col-12 m-auto">
                            <p style="font-size:10px;" class="m-0"><b>U.A.N.L. SERVICIOS MÉDICOS</b></p>
                            <p style="font-size:10px;" class="m-0"><b>GONZALITOS Y HAITI, COLONIA VISTA HERMOSA</b></p>
                            <p style="font-size:10px;" class="m-0"><b>MONTERREY NUEVO LEÓN</b></p>
                        </div>
                    </div>
                    <div class="col-2 m-auto imprimirLogo">
                        <img src="~/Imagenes/Servicios Medicos_Mesa de trabajo 1.png" style="width:145px; height:75px" /><br />
                    </div>
                </div>
                <div class="row" id="contenido">
                    <h5 class="text-center imprimirTitulo" style="color: blue; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Orden de Compra</h5>
                </div>
                <br />
                <div class="row" id="imprimir">
                    <div class="col-md-8">
                        <button type="button" style="width:100%; background-color:rgba(0,74,143,1);" class="btn btn-success imprimir">Imprimir</button>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <a class="btn btn-success text-white" id="Xcel2">Descargar Excel</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row" id="divAcuse">
                            <label>Fecha Acuse: </label>
                            <div id="datepicker"
                                 class="input-group date"
                                 data-date-format="dd-mm-yyyy">
                                <input class="form-control"
                                       type="text" readonly />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        @*<div class="row">
                            <h10 id="InputFC1" style="color:green">Fecha Compendio</h10><br />
                            <a style="font-size:13px" id="InputFC"></a>
                        </div>*@
                    </div>
                </div>
                <div>
                    <table id="tblDetalleOC" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th COLSPAN="6">
                                    <div class="input-group" id="LABEL">
                                        <span style="height:30px;" class="input-group-text">Proveedor:</span>
                                        <label style="height:30px;" type="text" class="form-control" id="PROV" name="PROV" />
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                @*<th>
                                    <h10 style="color:green">Identificador<br />Orden Compra</h10><br />
                                    <a style="font-size:13px" id="Id_OC"></a>
                                </th>*@
                                <th>
                                    <h10 style="color:green">Fecha<br />O.C</h10><br />
                                    <a style="font-size:13px" id="FechaOC"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Folio<br />Req.</h10><br />
                                    <a style="font-size:13px" id="FRequi"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Fecha<br />Impresión</h10><br />
                                    <a style="font-size:13px" id="Fecha"></a>
                                </th>
                                <th>
                                    <h10 id="InputFA1" style="color:green">Fecha Acuse</h10><br />
                                    <a style="font-size:13px" id="InputFA"></a>
                                </th>
                                <th COLSPAN="2">
                                    <h10 style="color:green" hidden>Total: $</h10><br />
                                    <a style="font-size:13px; display:inline-block;" id="Total_OC1" hidden></a>
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>CÓDIGO</th>
                                <th>DESCRIPCIÓN</th>
                                <th>CANTIDAD</th>
                                <th>COSTO<br />UNITARIO</th>
                                <th>COSTO<br />TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6" style="text-align:left;">
                            <div class="btn-toolbar btnss">
                                <button type="button" id="btnGenerar_OC" class="btn btn-success btn-space">GENERAR/HACER O.C</button>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <strong>
                                <a style="font-size:20px; display:inline-block; margin-right:10px;">Total: $</a>
                                <a style="font-size:20px; display:inline-block;" id="Total_OC"></a>
                            </strong>
                        </div>
                    </div>
                    <div class="row mt-1 btnss">
                        <textarea class="text-center" id="TXTdescripcion" name="Descripcion" rows="3" cols="40" readonly></textarea>
                    </div>
                </div>
                <div class="row m-0 pt-2 text-center" id="pie" style=" border-collapse: collapse; border-spacing: 0;">
                    <table id="firmas" align="center" BORDER="1">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>DEPTO. ALMACÉN</em></a><br />
                                        <a>Evelin Ramírez<br /> Lozano</a>
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>DIRECTOR</em></a><br />
                                        <a>Raúl Gabino<br /> Salazar Montalvo</a>
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>COMPRAS</em></a><br />
                                        <a id="UsElaboro"></a>
                                        <br />
                                        <br />
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>ADQUISICIONES</em></a><br />
                                        <a>Marcela Valdéz<br /> Flores</a><br />
                                    </strong>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.1/dist/jquery.table2excel.min.js"></script>

<script>
    $("#Xcel2").click(function () {
        $("#tblDetalleOC").table2excel({
            exclude: ".xls",
            filename: 'OrdenCompra.xls'
        });
    });
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js'></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
@*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous">
</script>*@
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script>
    $('.imprimir').on('click', function () {
        $.print(".imprimir-content");
    });
</script>

<script>

    $(document).ready(function () {

        $('#tbl_OCgeneradas').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: true,
            scrollColapse: true,
            scrollY: 280,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron O.C disponibles",
                "search": "Buscar:",
                "info": "_TOTAL_ Ordenes de Compra ",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        LlenaOC();
    });

    function LlenaOC() {
        $.ajax({
            url: '@Url.Action("ObtenerOCInicio", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
                else {
                    LlenaTablaOC(data.OCS);
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    }

    function LlenaTablaOC(ListaOCS) {
        var table = $('#tbl_OCgeneradas').DataTable();
        table.destroy();

        table = $('#tbl_OCgeneradas').DataTable({
            responsive: true,
            searching: true,
            info: true,
            deferRender: true,
            scroller: false,
            scrollColapse: true,
            paging: false,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron O.C disponibles",
                "search": "Buscar:",
                "info": "_TOTAL_ Ordenes de Compra ",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: ListaOCS,
            "order": [[10, 'desc']],
            columns: [
                { 'data': 'Id_OC', className: "text-center" },
                { 'data': 'Clave', className: "text-center" },
                { 'data': 'Fecha', className: "text-center" },
                { 'data': 'Id_User', className: "text-center" },
                {
                    "data": "Validar", className: "text-center", render: function (data) {
                        if (data == '1') {
                            return '<h8 style="color:white; background-color:red; font-family:Arial; font-size:14px">' + "POR AUTORIZAR" + '</h8>';
                        }
                        if (data == '2') {
                            return '<h8 style="color:white; background-color:blue; font-family:Arial; font-size:14px">' + "AUTORIZADA" + '</h8>';
                        }
                        if (data == '3') {
                            return '<h8 style="color:white; background-color:green; font-family:Arial; font-size:14px">' + "HECHA/GENERADA" + '</h8>';
                        }
                        if (data == '4') {
                            return '<h8 style="color:white; background-color:red; font-family:Arial; font-size:14px">' + "CANCELADA" + '</h8>';
                        }
                    }
                },
                { 'data': 'Id_Requisicion', className: "text-center" },
                { 'data': 'Fecha1', className: "text-center" },
                {
                    "data": "EstatusContrato", className: "text-center", render: function (data) {
                        if (data == 'Sin Contrato') {
                            return '<h8 style="color:black; ">' + "NO" + '</h8>';
                        } else {
                            return '<h8 style="color:black; ">' + "SI" + '</h8>';
                        }
                    }
                },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Ver Detalle" id="VerDetalle" class="btn btn-primary fa fa-book" data-toggle="modal"></button>',
                    "target": -2
                },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Eliminar O.C" id="botonDelete" class="btn btn-danger btn-sm fa fa-times" data-toggle="modal"></button>',
                    "target": -2
                },
                { "data": "FechaRequisicion" }
            ],
            columnDefs: [
                { "visible": false, "targets": 10 },
            ]
        });
    }

    $('#tbl_OCgeneradas tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        var row = $('#tbl_OCgeneradas').DataTable().row(tr);
        //var ClaveOC = row.data().Clave;
        var IdOC = row.data().Id_OC;
        var ClaveRequi = row.data().Id_Requisicion;

        if (row.data().Validar == "2") {
            document.getElementById("btnGenerar_OC").disabled = false;
        } else {
            document.getElementById("btnGenerar_OC").disabled = true;
        }

        $('#Id_OC').val(IdOC);

        $('#DetalleOCModal').modal("show");

        var array = { Id_OC: IdOC, FolioRequi: ClaveRequi  };
        var url = '@Url.Action("ObtenerDetalleOC_Generada", "OrdenCompra")';
        $.post(url, array).done(function (response) {
            //$('#NoOC').html(response[0].Folio);
            $('#FechaOC').html(response[0].Fecha);
            $('#Fecha').html(response[0].Fecha1);
            $('#PROV').html(response[0].NombreProveedor);
            $('#UsElaboro').html(response[0].Usuario);
            $('#Total_OC1').html(response[0].Total_OC);
            $('#Total_OC').html(response[0].Total_OC);
            $('#TXTdescripcion').html(response[0].DescripcionOC);
            $('#FRequi').html(response[0].FolioRequisicion);

            var FA = response[0].FechaAcuse;
            
            if (FA == null || FA == "") {
                $("#InputFA1").hide();

                $("#divAcuse").show();
            } else {
                $("#InputFA1").show();
                $('#InputFA').html(FA);

                $("#divAcuse").hide();
            }
            
            LlenDetalle(response);

        }).fail(function (response) {
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
            });
        });

        function LlenDetalle(Lista) {
            $('#tblDetalleOC').DataTable({
                destroy: true,
                searching: false,
                responsive: true,
                lengthChange: false,
                paging: false,
                data: Lista,
                language: {
                    "zeroRecords": " ",
                    "search": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    },
                    "select": {
                        "rows": " %d filas seleccionadas"
                    },
                },
                columns: [
                    {
                        'data': 'ORDEN', className: "text-center",
                        render: function (data, type, row, meta) {
                            return (row.ORDEN = meta.row + meta.settings._iDisplayStart + 1);
                        }
                    },
                    { "data": "Clave", className: "text-center" },
                    { "data": "Descripcion", className: "text-center" },
                    { "data": "Cantidad", className: "text-center" },
                    { "data": "PrecioUnitario", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') },
                    { "data": "Total", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') }
                ]
            });
        }

        $('#DetalleOCModal').on('hidden.bs.modal', function () {
            location.reload();
        })
    });

    $('#tbl_OCgeneradas tbody').on('click', '#botonDelete', function () {
        var tr = $(this).closest('tr');
        var row = $('#tbl_OCgeneradas').DataTable().row(tr);
        var Id = row.data().Id_OC;

        $.ajax({
            url: '@Url.Action("EliminarOC", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            data: { Id_OC: Id },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: data.MENSAJE.substring(7),
                        willClose: () => {
                            location.reload();
                        }
                    });
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });

    });

    $('#btnGenerar_OC').on('click', function () {
        var Id_OC = $("#Id_OC").val();

        $.ajax({
            url: '@Url.Action("HACER_OC", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            data: { Id_OC: Id_OC },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: data.MENSAJE.substring(7),
                        willClose: () => {
                            location.reload();
                        }
                    });
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    });

    $('#datepicker').datepicker({
        locale: 'es-es',
        showOtherMonths: true,
        format: 'dd/mm/yyyy'
    });

    $("#datepicker input").change(function () {
        var FechaAcuse = $(this).val()
        var Id_OC = $("#Id_OC").val();

        var d = new Date(); // for now
        var h = d.getHours();
        h = (h < 10) ? ("0" + h) : h;
        var m = d.getMinutes();
        m = (m < 10) ? ("0" + m) : m;
        var s = d.getSeconds();
        s = (s < 10) ? ("0" + s) : s;

        FechaAcuse = FechaAcuse + " " + h + ":" + m + ":" + s;
        //alert(FechaCompendio);

        Swal.fire({
            title: '¿Desea guardar la Fecha de Acuse?',
            text: FechaAcuse,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '@Url.Action("GuardarFecha_Acuse", "OrdenCompra")',
                    method: 'POST',
                    dataType: 'json',
                    data: { Id_OC: Id_OC, FechaAcuse: FechaAcuse },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Succe:") {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                showConfirmButton: true,
                                willClose: () => {
                                    location.reload();
                                }
                            });
                        }
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7),
                            });
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                        });
                    }
                });
            }
        });
    });

    function Regresar() {
        window.location = '@Url.Action("OrdenCompra")';
    }

</script>

<style>
    .modal-backdrop {
        background-color: rgba(0,0,0,0.4) !important;
    }

    .imprimirUanl img {
        width: 65%;
    }

    .imprimirLogo img {
        width: 100%;
    }

    #pie {
        margin-top: 250px !important;
    }

    #firmas td {
        border: 1px solid black;
    }

    @@media print {
        .imprimir {
            display: none;
        }

        #Xcel2 {
            display: none;
        }

        #firmas td {
            border: 1px solid black;
        }

        .btnss {
            display: none;
        }

        #divAcuse {
            display: none;
        }
    }
</style>