
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
@*CSS only*@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
@*JavaScript Bundle with Popper*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="~/JavaScript/jquery.tablesorter.js" type="text/javascript"></script>
@*SWAL FIRE*@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h5>O.C POR AUTORIZAR</h5>
<br />

<style>
    table.dataTable {
        width: 100% !important;
    }

    .uanl-logo {
        width: 10vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }

    #Id {
        color: black;
    }

    .btn-space {
        margin-right: 5px;
    }

    #DetalleRequiModal .modal-dialog {
        height: 100vh;
        margin-top: 0px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="col-md-12 text-center m-auto pl-3 pr-3 pt-1 pb-0 inputBarcode" id="msform">
    <img src="~/Imagenes/Servicios Medicos_Mesa de trabajo 1.png" class="uanl-logo" />
</div>

<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-outline-primary" onclick="Regresar()">REGRESAR</button>
    </div>

</div>

<div>

    <div class="row">
        <table class="table table-striped table-hover" id="OC_Generada">
            <thead>
                <tr>
                    <th>Folio O.C</th>
                    <th>Fecha O.C</th>
                    <th>Folio Req.</th>
                    <th>Fecha Req.</th>
                    <th>Usuario O.C</th>
                    <th>Estatus Contrato</th>
                    <th>Estatus OC</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="DetalleOCModal" tabindex="-1" role="dialog" aria-labelledby="NuevaRequiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body imprimir-content">

                <div class="row">
                    <input id="folio" name="Folio" value="" style="display: none;" />
                </div>

                <div class="row m-0 text-center pt-4">
                    <div class="col-2 m-auto imprimirUanl">
                        <img src="~/Imagenes/uanl.png" />
                    </div>
                    <div class="col-8 m-auto imprimirTitulo">
                        <h5>UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN</h5>
                        <div style="        border: 0.5px solid rgb(217, 220, 217);"></div>
                        <h5>SERVICIOS MÉDICOS</h5>
                        <div class="col-12 m-auto">
                            <p style="font-size:10px;" class="m-0"><b>U.A.N.L. SERVICIOS MÉDICOS</b></p>
                            <p style="font-size:10px;" class="m-0"><b>GONZALITOS Y HAITI S/N COL. MITRAS CENTRO</b></p>
                            <p style="font-size:10px;" class="m-0"><b>MONTERREY NUEVO LEÓN C.P. 66460 TEL.8113404860</b></p>
                        </div>
                    </div>
                    <div class="col-2 m-auto imprimirLogo">
                        <img src="~/Imagenes/Servicios Medicos_Mesa de trabajo 1.png" style="width:130px; height:66px" /><br />
                    </div>
                </div>
                <div class="row" id="contenido">
                    <h5 class="text-center imprimirTitulo" style="color: blue; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Orden de Compra</h5>
                </div>
                <br />
                <div class="row" id="imprimir">
                    <div class="col-md-9">
                        <button type="button" style="width:100%; background-color:rgba(0,74,143,1);" class="btn btn-success imprimir">Imprimir</button>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <a class="btn btn-success text-white" id="Xcel2">Descargar Excel</a>
                        </div>
                    </div>
                </div>
                <div>
                    <table id="tblDetalleOC" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th COLSPAN="7">
                                    <div class="input-group" id="LABEL">
                                        <span style="height:30px;" class="input-group-text">Proveedor:</span>
                                        <label style="height:30px;" type="text" class="form-control" id="PROV" name="PROV" />
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <h10 style="color:green">Folio O.C: </h10><br />
                                    <a style="font-size:13px" id="NoOC"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Fecha O.C: </h10><br />
                                    <a style="font-size:13px" id="FechaOC"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Folio Requi: </h10><br />
                                    <a style="font-size:13px" id="FRequi"></a>
                                </th>
                                <th COLSPAN="2">
                                    <h10 style="color:green">Fecha Impresión: </h10><br />
                                    <a style="font-size:13px" id="Fecha"></a>
                                </th>
                                @*<th COLSPAN="2" hidden>
                    </th>*@
                                <th COLSPAN="2">
                                    <h10 style="color:green" hidden>Total: $</h10><br />
                                    <a style="font-size:13px; display:inline-block;" id="Total_OC1" hidden></a>
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Clave Med.</th>
                                <th>Descripción</th>
                                <th>Cant. Solicitada</th>
                                <th>Precio U.</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="row btnss">
                        <div class="col-md-6" style="text-align:left;">
                            <div class="btn-toolbar">
                                <button type="button" id="btnValidar_OC" class="btn btn-success btn-space">AUTORIZAR O.C</button>
                                <button type="button" id="btnCancelar_OC" class="btn btn-danger btn-space">CANCELAR O.C</button>
                                <button type="button" id="Cancelar" class="btn btn-secondary">Salir</button>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <strong>
                                <a style="font-size:20px; display:inline-block; margin-right:10px;">Total: $</a>
                                <a style="font-size:20px; display:inline-block;" id="Total_OC"></a>
                            </strong>
                        </div>
                    </div>
                    <div class="row mt-1 btnss">
                        <textarea class="text-center" id="TXTdescripcion" name="Descripcion" placeholder="Descripción (opcional)" rows="3" cols="40"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.1/dist/jquery.table2excel.min.js"></script>

<script>
    $("#Xcel2").click(function () {
        $("#tblDetalleOC").table2excel({
            exclude: ".xls",
            filename: 'OrdenCompra.xls'
        });
    });
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js'></script>

<script>
    $('.imprimir').on('click', function () {
        $.print(".imprimir-content");
    });
</script>

<script>

    $(document).ready(function () {

        $('#OC_Generada').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: true,
            scrollColapse: true,
            scrollY: 280,
            lengthChange: false,
            language: {
                "zeroRecords": " ",
                "search": "Buscar:",
                "info": "_TOTAL_  O.C",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        LlenaOC();
    });

    function LlenaOC() {
        $.ajax({
            url: '@Url.Action("ObtenerOC_PorValidar", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
                else {
                    LlenaTablaOC(data.OCS);
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    }

    function LlenaTablaOC(ListaOCS) {
        var table = $('#OC_Generada').DataTable();
        table.destroy();

        table = $('#OC_Generada').DataTable({
            responsive: true,
            searching: true,
            info: true,
            deferRender: true,
            scroller: true,
            scrollColapse: true,
            scrollY: 280,
            lengthChange: false,
            language: {
                "zeroRecords": " ",
                "search": "Buscar:",
                "info": "_TOTAL_  ",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: ListaOCS,
            order: [[1, 'desc']],
            columns: [
                { 'data': 'Clave', className: "text-center" },
                { 'data': 'Fecha', className: "text-center" },
                { 'data': 'Id_Requisicion', className: "text-center" },
                { 'data': 'Fecha1', className: "text-center" },
                { 'data': 'Id_User', className: "text-center" },
                //{ "data": "EstatusContrato", className: "text-center", render: function (data) { return (data === 'UANL-DGA-DA-022/08/2022' ? '<h8 style="color:black; ">' + "SI" + '</h8>' : '<h8 style="color:black; ">' + "NO" + '</h8>'); } },
                {
                    "data": "EstatusContrato", className: "text-center", render: function (data) {
                        if (data == 'Sin Contrato') {
                            return '<h8 style="color:black; ">' + "NO" + '</h8>';
                        } else {
                            return '<h8 style="color:black; ">' + "SI" + '</h8>';
                        }
                    }
                },
                //{
                //    "data": "Validar", className: "text-center", render: function (data) {
                //        if (data == '1') {
                //            return '<h8 style="color:black; ">' + "POR AUTORIZAR" + '</h8>';
                //        }
                //        if (data == '4') {
                //            return '<h8 style="color:black; ">' + "CANCELADA" + '</h8>';
                //        }
                //    }
                //},
                {
                    "data": "Validar", className: "text-center", render: function (data) {
                        if (data == '1') {
                            return '<h8 style="color:black; ">' + "POR AUTORIZAR" + '</h8>';
                        }
                        if (data == '2') {
                            return '<h8 style="color:black; ">' + "AUTORIZADA" + '</h8>';
                        }
                        if (data == '3') {
                            return '<h8 style="color:black; ">' + "HECHA/GENERADA" + '</h8>';
                        }
                        if (data == '4') {
                            return '<h8 style="color:black; ">' + "CANCELADA" + '</h8>';
                        }
                    }
                },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Ver Detalle" id="VerDetalle" class="btn btn-primary fa fa-book" data-toggle="modal"></button>',
                    "target": -2
                }
            ]
        });
    }

    $('#OC_Generada tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        var row = $('#OC_Generada').DataTable().row(tr);
        var ClaveOC = row.data().Clave;
        var ClaveRequi = row.data().Id_Requisicion;

        $('#folio').val(ClaveOC);

        $('#DetalleOCModal').modal("show");

        var array = { FolioOC: ClaveOC, FolioRequi: ClaveRequi  };
        var url = '@Url.Action("ObtenerDetalleOC_Generada", "OrdenCompra")';
        $.post(url, array).done(function (response) {
            $('#NoOC').html(response[0].Folio);
            $('#FechaOC').html(response[0].Fecha);
            $('#Fecha').html(response[0].Fecha1);
            $('#PROV').html(response[0].NombreProveedor);
            $('#UsElaboro').html(response[0].Usuario);
            $('#Total_OC1').html(response[0].Total_OC);
            $('#Total_OC').html(response[0].Total_OC);
            $('#TXTdescripcion').html(response[0].DescripcionOC);

            $('#FRequi').html(response[0].FolioRequisicion);

            LlenDetalle(response);

        }).fail(function (response) {
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
            });
        });

        function LlenDetalle(Lista) {
            $('#tblDetalleOC').DataTable({
                destroy: true,
                searching: false,
                responsive: true,
                lengthChange: false,
                paging: false,
                data: Lista,
                language: {
                    "zeroRecords": " ",
                    "search": "",
                    "info": "",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    },
                    "select": {
                        "rows": " %d filas seleccionadas"
                    },
                },
                columns: [
                    {
                        'data': 'ORDEN', className: "text-center",
                        render: function (data, type, row, meta) {
                            return (row.ORDEN = meta.row + meta.settings._iDisplayStart + 1);
                        }
                    },
                    { "data": "Clave", className: "text-center" },
                    { "data": "Descripcion", className: "text-center" },
                    { "data": "Cantidad", className: "text-center" },
                    { "data": "PrecioUnitario", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') },
                    { "data": "Total", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') }
                ]
            });
        }

        $('#DetalleOCModal').on('hidden.bs.modal', function () {
            location.reload();
        })
    });

    $('#btnValidar_OC').on('click', function () {
        var ClaveOC = $("#folio").val();
        var Descripcion = $("#TXTdescripcion").val();
        //alert(FolioOC)
        $.ajax({
            url: '@Url.Action("ValidarOC", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            data: { Clave_OC: ClaveOC, DescripcionOC: Descripcion },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: data.MENSAJE.substring(7),
                        willClose: () => {
                            location.reload();
                        }
                    });
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    });

    $('#btnCancelar_OC').on('click', function () {
        var ClaveOC = $("#folio").val();
        var Descripcion = $("#TXTdescripcion").val();
        
        $.ajax({
            url: '@Url.Action("CancelarOC", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            data: { Clave_OC: ClaveOC, DescripcionOC: Descripcion },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: data.MENSAJE.substring(7),
                        willClose: () => {
                            location.reload();
                        }
                    });
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    });

    function Regresar() {
        window.location = '@Url.Action("OrdenCompra")';
    }

    $('#Cancelar').on('click', function () {
        location.reload();
    });
</script>

<style>
    .modal-backdrop {
        background-color: rgba(0,0,0,0.4) !important;
    }
    .imprimirUanl img {
        width: 65%;
    }
    .imprimirLogo img {
        width: 100%;
    }
    #pie {
        margin-top: 250px !important;
    }
    #firmas td {
        border: 1px solid black;
    }

    @@media print {
        .imprimir {
            display: none;
        }
        #Xcel2 {
            display: none;
        }
        #firmas td {
            border: 1px solid black;
        }
        .btnss {
            display: none;
        }
    }
</style>