
@*DATATABLES*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/2023/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
<link rel=¨stylesheet¨ href="~/Scripts/2023/jquery.dataTables.min.css">

<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/2023/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<link rel=¨stylesheet¨ href="~/Scripts/2023/bootstrap-icons.css">

@*CSS only*@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel=¨stylesheet¨ href="~/Scripts/2023/bootstrap.min.css">

@*JavaScript Bundle with Popper*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Scripts/2023/bootstrap.bundle.min.js"></script>

<script src="~/JavaScript/jquery.tablesorter.js" type="text/javascript"></script>

@*SWAL FIRE*@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="~/Scripts/2023/sweetalert2@11.js"></script>

<row class="row m-0">
    <div class="col-md-12" id="menu">
        <table>
            <tr>
                <td><a href="@Url.Action("Index", "Home")"><b>Inicio</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
                <td><a href="@Url.Action("Medico", "Manage")"><b>Médico</b></a></td>
                <td> <span class="material-icons">keyboard_arrow_right</span></td>
            </tr>
        </table>
    </div>
</row>

<row class="row m-0">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="row">
                <h5 style="text-align:center">ÓRDENES DE COMPRA</h5>
            </div>
            <div class="row">
                <h6 style="text-align:center"><em>Compras</em></h6>
            </div>
        </div>
    </div>
</row>

<style>
    table.dataTable {
        width: 100% !important;
    }

    .uanl-logo {
        width: 10vw;
        margin-top: 0vw;
        margin-bottom: 1vw;
    }

    .btn-space {
        margin-right: 5px;
    }

    #DetalleOCModal .modal-dialog {
        max-width: none;
        height: 100%;
        margin: 0;
    }

    p {
        line-height: 100%;
    }

    .btn-spaceA {
        margin-bottom: 5px;
    }
</style>

<div class="btn-toolbar">
    <button type="button" class="btn btn-primary btn-space" onclick="Regresar()">REGRESAR</button>
</div>

<div class="row">

    <div class="row">
        <div class="col">
            <label>
                <input type="checkbox" id="cb1" name=""> MOSTRAR TODAS LAS OC.
            </label>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped table-hover" id="tbl_OCgeneradas">
            <thead>
                <tr>
                    <th>Identificador<br /> O.C</th>
                    <th>Folio<br />O.C</th>
                    <th>Fecha<br />O.C</th>
                    <th>Fecha<br />Pre-O.C</th>
                    <th>Proveedor<br />O.C</th>
                    <th>Elaboró<br />O.C</th>
                    <th>Estatus<br /> O.C</th>
                    <th>Folio<br /> Req.</th>
                    <th>Fecha<br /> Req.</th>
                    <th>Contrato<br /> Req.</th>
                    <th>Detalle<br /> O.C</th>
                    <th>Eliminar<br />O.C</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="DetalleOCModal" tabindex="-1" role="dialog" aria-labelledby="NuevaRequiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body imprimir-content">
                <div class="row">
                    <input id="Id_OC" name="Id_OC" value="" style="display: none;" />
                    <input id="Folio_Requi" name="Folio_Requi" value="" style="display: none;" />
                    <input id="FechaPreOC" name="FechaPreOC" value="" style="display: none;" />
                    <input id="Num_Contrato" name="Num_Contrato" value="" style="display: none;" />
                </div>

                <div class="row m-0 text-center pt-4">
                    <div class="col-2 m-auto imprimirUanl">
                        <img src="~/Imagenes/uanl.png" style="width:90px; height:90px" />
                    </div>
                    <div class="col-8 m-auto imprimirTitulo">
                        <h5>UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN</h5>
                        <div style="        border: 0.5px solid rgb(217, 220, 217);"></div>
                        <h5>SERVICIOS MÉDICOS U.A.N.L.</h5>
                        <div class="col-12 m-auto">
                        </div>
                    </div>
                    <div class="col-2 m-auto imprimirLogo">
                        <img src="~/Imagenes/Servicios Medicos_Mesa de trabajo 1.png" style="width:145px; height:75px" /><br />
                    </div>
                </div>
                <br />

                @* BOTONES - CONTRATO - ACUSE *@
                <div class="row" id="imprimir">

                    <div class="col-md-2">
                        <button type="button" style="width:100%; background-color:rgba(0,74,143,1);" class="btn btn-success imprimir">Imprimir</button>
                    </div>

                    <div class="col-md-2">
                        <button type="button" style="width:100%;" class="btn btn-secondary imprimir2">Imprimir Pre-Orden</button>
                    </div>

                    <div class="col-md-2">
                        <div>
                            <a class="btn btn-success text-white" id="Xcel2">Descargar Excel</a>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row" id="divAcuse">
                            <label>Vencimiento</label>
                            <div id="datepicker"
                                 class="input-group date"
                                 data-date-format="dd-mm-yyyy">
                                <input class="form-control"
                                       type="text" readonly />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row" id="divContrato">
                            <label>Contrato</label>
                            <div>
                                <input class="Buscar" type="text" id="InputContrato" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row" id="divBtnEliminar">
                            <button type="button" class="btn btn-danger btn-spaceA" onclick="EliminarAcuse()">Eliminar Vencimiento</button><br />
                            <button type="button" class="btn btn-danger" onclick="EliminarContrato()">Eliminar Contrato</button>
                        </div>
                    </div>

                </div>

                @* INFO: ACUSE - CONTRATO... *@
                <div class="row" id="Moddal">

                    <div class="col-4">
                        <div class="alt-features-item align-center">
                            <div class="row">
                                <a style=""><span class="emphasized"><strong>FACTURAR A:</strong></span> UNIVERSIDAD AUTÓNOMA DE NUEVO LEÓN</a><br />
                                <a style=""><span class="emphasized"><strong>RFC:</strong></span> UANL691126MK2</a>
                            </div>
                            <div class="row">
                                <a style=""><span class="emphasized"><strong>Embarcar:</strong></span> GONZALITOS Y HAITI, COLONIA VISTA HERMOSA. MONTERREY NUEVO LEÓN</a><br />
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <div class="alt-features-item align-center">
                                <h6 class="text-center" style="font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Datos del Proveedor</h6>
                                <div class="text" style="text-align:center;">
                                    <a style="" id="ProvUanl"></a>
                                    <a style="" id="ProvNom"></a><br />
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h10 id="LabelContrato" style="font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif; ">Contrato</h10><br />
                            <a style="" id="InputCon"></a>
                        </div>
                    </div>

                    <div class="col-4">
                        <table class="table table-bordered" id="tbl_DatosOC">
                            <tr>
                                <td class="text-center" style="height: 40px; vertical-align: middle;">
                                    <h5 id="TitutloModal" class="imprimirTitulo" style="color: blue; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="text" style="height: 40px; vertical-align: middle;">
                                    <div class="d-flex">
                                        <div style="flex: 1; padding-left: 10px;">
                                            <h10 style="color:green; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;" id="ClaveOC1">Folio</h10>
                                        </div>
                                        <div style="flex: 1; border-left: 1px solid #000; padding-right: 10px;">
                                            <a style="" id="ClaveOC"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text" style="height: 40px; vertical-align: middle;">
                                    <div class="d-flex">
                                        <div style="flex: 1; padding-left: 10px;">
                                            <h10 style="color:green; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;" id="FechaOC1">Fecha Pre-Orden</h10>
                                        </div>
                                        <div style="flex: 1; border-left: 1px solid #000; padding-right: 10px;">
                                            <a style="" id="FechaOC"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text" style="height: 40px; vertical-align: middle;">
                                    <div class="d-flex">
                                        <div style="flex: 1; padding-left: 10px;">
                                            <h10 style="color:green; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Folio Req.</h10>
                                        </div>
                                        <div style="flex: 1; border-left: 1px solid #000; padding-right: 10px;">
                                            <a style="" id="FRequi"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr id="TDacuse">
                                <td class="text" style="height: 40px; vertical-align: middle;">
                                    <div class="d-flex">
                                        <div style="flex: 1; padding-left: 10px;">
                                            <h10 id="InputFA1" style="color:green; font-weight: bold; font-family: Roboto, Helvetica, Arial, sans-serif;">Vencimiento</h10>
                                        </div>
                                        <div style="flex: 1; border-left: 1px solid #000; padding-right: 10px;">
                                            <a style="" id="InputFA"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                @*TABLA*@
                <div>
                    <table id="tblDetalleOC" class="table table-striped table-hover">
                        <thead>
                            <tr hidden>
                                <th>
                                    <h10 style="color:green" id="Clave1">Folio<br />O.C</h10><br />
                                    <a style="font-size:13px" id="Clave"></a>
                                </th>
                                <th>
                                    <h10 style="color:green" id="Fecha11">Fecha<br />Pre-O.C</h10><br />
                                    <a style="font-size:13px" id="Fecha1"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Folio<br />Req.</h10><br />
                                    <a style="font-size:13px" id="FRequiEncabezado"></a>
                                </th>
                                <th>
                                    <h10 style="color:green">Proveedor</h10><br />
                                    <a style="font-size:13px" id="ProvUanl1"></a><br />
                                    <a style="font-size:13px" id="ProvNom1"></a>
                                </th>
                                <th>
                                    <h10 id="InputFA111" style="color:green">Vencimiento</h10><br />
                                    <a style="font-size:13px" id="InputFA11"></a>
                                </th>
                                <th>
                                    <h10 id="InputContratoDT" style="color:green">Contrato</h10><br />
                                    <a style="font-size:13px" id="InputConDT"></a>
                                </th>
                                <th>
                                    <h10 style="color:green" hidden>Gran Total: $</h10><br />
                                    <a style="font-size:13px; display:inline-block;" id="Total_OC1" hidden></a>
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>CÓDIGO</th>
                                <th>DESCRIPCIÓN</th>
                                <th>CANTIDAD</th>
                                <th>COSTO<br />UNITARIO</th>
                                <th>COSTO<br />TOTAL</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6" style="text-align:left;">
                            <div class="btn-toolbar btnss">
                                <button type="button" id="btnGenerar_OC" class="btn btn-success btn-space">GENERAR/HACER O.C</button>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <strong>
                                <a style="font-size:20px; display:inline-block;" id="Total_OC"></a>
                            </strong>
                        </div>
                    </div>
                    <div class="row mt-1 btnss">
                        <textarea class="text-center" id="TXTdescripcion" name="Descripcion" rows="3" cols="40" readonly></textarea>
                    </div>
                </div>

                @* FIRMAS CUANDO ES *PRE-ORDERN DE COMPRA* *@
                <div class="row m-0 pt-2 text-center" id="pie" style=" border-collapse: collapse; border-spacing: 0;">
                    <table id="firmas" align="center" BORDER="0" style="border: hidden">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>REALIZÓ</em></a><br />
                                        <a id="Us"></a><br />
                                        <a id="UsElaboro"></a>
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>AUTORIZÓ PRE-ORDEN</em></a><br />
                                        <a id="UsuAutoriza"></a><br />
                                        <a id="FechaAutoriza"></a><br />
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @* FIRMAS CUANDO YA ES *ORDERN DE COMPRA* *@
                <div class="row m-0 pt-2 text-center" id="pie1" style=" border-collapse: collapse; border-spacing: 0;">
                    <table id="firmas" align="center" BORDER="0" style="border: hidden">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>DIRECTOR</em></a><br />
                                        <a>Dr. Raúl Gabino<br /> Salazar Montalvo</a>
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>ADQUISICIONES</em></a><br />
                                        <a>Lic. Marcela<br /> Valdéz Flores.</a>
                                    </strong>
                                </td>
                                <td align="center">
                                    <br />
                                    <br />
                                    <br />
                                    <strong>
                                        <a><em>PROVEEDOR</em></a><br />
                                        <a>Representante ó<br /> Apoderado legal.</a>
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.1/dist/jquery.table2excel.min.js"></script>
<script type="text/javascript" src="~/Scripts/2023/jquery.table2excel.min.js"></script>

<script>
    $("#Xcel2").click(function () {
        $("#tblDetalleOC").table2excel({
            exclude: ".xls",
            filename: 'OrdenCompra.xls'
        });
    });
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.3.3/jQuery.print.min.js'></script>
<script type="text/javascript" src="~/Scripts/2023/jQuery.print.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel=¨stylesheet¨ href="~/Scripts/2023/bootstrap-datepicker.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/2023/bootstrap-datepicker.min.js"></script>

<script>
    $('.imprimir').on('click', function () {
        $.print(".imprimir-content");
    });

    //Boton para Imprimir Pre-Orden aun cuando ya es Orden
    $('.imprimir2').on('click', function () {

        var Id_OC = $("#Id_OC").val();
        var FePre = $("#FechaPreOC").val();

        document.getElementById("ClaveOC1").innerHTML = "Identificador";
        $('#ClaveOC').html(Id_OC);

        document.getElementById("Clave1").innerHTML = "Identificador";
        $('#ClaveOC').html(Id_OC);

        document.getElementById("TitutloModal").innerHTML = "PRE-ORDEN DE COMPRA";

        document.getElementById("FechaOC1").innerHTML = "Fecha Pre-Orden";
        $('#FechaOC').html(FePre);

        document.getElementById("Fecha11").innerHTML = "Fecha Pre-Orden";
        $('#Fecha1').html(FePre);

        $("#pie").show();
        $("#pie1").hide();

        $.print(".imprimir-content");

    });

</script>

<script>

    var FolioOC

    $(document).ready(function () {

        $('#tbl_OCgeneradas').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: true,
            scrollColapse: true,
            scrollY: 280,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron O.C disponibles",
                "search": "Buscar:",
                "info": "_TOTAL_ Ordenes de Compra ",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        LlenaOC();
    });

    function LlenaOC() {
        $.ajax({
            url: '@Url.Action("ObtenerOCInicio", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
                else {
                    LlenaTablaOC(data.OCS);
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    }

    function LlenaTablaOC(ListaOCS) {
        var table = $('#tbl_OCgeneradas').DataTable();
        table.destroy();

        table = $('#tbl_OCgeneradas').DataTable({
            responsive: true,
            searching: true,
            info: true,
            deferRender: true,
            scroller: false,
            scrollColapse: true,
            paging: false,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron O.C disponibles",
                "search": "Buscador",
                "info": "_TOTAL_ Ordenes de Compra ",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: ListaOCS,
            "order": [[0, 'desc']],
            columns: [
                { 'data': 'Id_OC', className: "text-center" },
                { 'data': 'Clave', className: "text-center" },
                { 'data': 'Fecha_OC', className: "text-center" },
                { 'data': 'Fecha', className: "text-center" },
                { 'data': 'NombreProveedor', className: "text-center" },
                { 'data': 'Id_User', className: "text-center" },
                {
                    "data": "Validar", className: "text-center", render: function (data) {
                        if (data == '1') {
                            return '<h8 style="color:white; background-color:red; font-family:Arial; font-size:14px">' + "POR AUTORIZAR" + '</h8>';
                        }
                        if (data == '2') {
                            return '<h8 style="color:white; background-color:blue; font-family:Arial; font-size:14px">' + "AUTORIZADA" + '</h8>';
                        }
                        if (data == '3') {
                            return '<h8 style="color:white; background-color:green; font-family:Arial; font-size:14px">' + "GENERADA" + '</h8>';
                        }
                        if (data == '4') {
                            return '<h8 style="color:white; background-color:red; font-family:Arial; font-size:14px">' + "CANCELADA" + '</h8>';
                        }
                    }
                },
                { 'data': 'Id_Requisicion', className: "text-center" },
                { 'data': 'Fecha1', className: "text-center" },
                {
                    "data": "EstatusContrato", className: "text-center", render: function (data) {
                        if (data == 'Sin Contrato') {
                            return '<h8 style="color:black; ">' + "NO" + '</h8>';
                        } else {
                            return '<h8 style="color:black; ">' + "SI" + '</h8>';
                        }
                    }
                },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Ver Detalle" id="VerDetalle" class="btn btn-primary fa fa-book" data-toggle="modal"></button>',
                    "target": -2
                },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Eliminar O.C" id="botonDelete" class="btn btn-danger btn-sm fa fa-times" data-toggle="modal"></button>',
                    "target": -2
                },
                { "data": "FechaRequisicion" }
            ],
            columnDefs: [
                { "visible": false, "targets": 12 },
            ]
        });
    }

    $("input[type=checkbox]").click(function (event) {

        if ($('#cb1').prop('checked')) {
             $.ajax({
                url: '@Url.Action("ObtenerOCInicioT", "OrdenCompra")',
                method: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.MENSAJE.substring(0, 6) == "Error:") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops... ¡Error!',
                            text: data.MENSAJE.substring(7),
                        });
                    }
                    else {
                        LlenaTablaOC(data.OCS);
                    }
                },
                error: function (ex) {
                    Swal.fire({
                        icon: 'error',
                        title: '¡Error!',
                    });
                }
            });
        } else {
            LlenaOC();
        }
    });

    //Boton VER DETALLE - al abrir el Modal
    $('#tbl_OCgeneradas tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        var row = $('#tbl_OCgeneradas').DataTable().row(tr);
        var IdOC = row.data().Id_OC;
        var ClaveRequi = row.data().Id_Requisicion;

        if (row.data().Validar == "2") {
            document.getElementById("btnGenerar_OC").disabled = false;
        } else {
            document.getElementById("btnGenerar_OC").disabled = true;
        }

        $('#Id_OC').val(IdOC);
        $('#Folio_Requi').val(ClaveRequi);

        $('#DetalleOCModal').modal("show");

        var array = { Id_OC: IdOC, FolioRequi: ClaveRequi  };
        var url = '@Url.Action("ObtenerDetalleOC_Generada", "OrdenCompra")';
        $.post(url, array).done(function (response) {

            FolioOC = response[0].Folio;
            if (FolioOC == null || FolioOC == '') {
                document.getElementById("ClaveOC1").innerHTML = "Identificador";
                $('#ClaveOC').html(response[0].Id_OC);

                document.getElementById("Clave1").innerHTML = "Identificador";
                $('#Clave').html(response[0].Id_OC);

                document.getElementById("TitutloModal").innerHTML = "PRE-ORDEN DE COMPRA";

                document.getElementById("FechaOC1").innerHTML = "Fecha Pre-Orden";
                $('#FechaOC').html(response[0].Fecha);

                document.getElementById("Fecha11").innerHTML = "Fecha Pre-Orden";
                $('#Fecha1').html(response[0].Fecha);

                $("#pie").show();//Firmas Pre-Orden     Cuando no tiene Folio, es Pre-Orden y las Firmas que deben salir son Quien Realizo y Quien Autorizo
                $("#pie1").hide();//Firmas Orden

                //var FePre = response[0].Fecha;
                //$('#FechaPreOC').val(FePre);

            } else {
                $("#ClaveOC1").show();
                $('#ClaveOC').html(response[0].Folio);

                $("#Clave1").show();
                $('#Clave').html(response[0].Folio);

                document.getElementById("TitutloModal").innerHTML = "ORDEN DE COMPRA";

                document.getElementById("FechaOC1").innerHTML = "Fecha";
                $('#FechaOC').html(response[0].FechaOC);

                document.getElementById("Fecha11").innerHTML = "Fecha";
                $('#Fecha1').html(response[0].FechaOC);

                $("#pie").hide();//Firmas Pre-Orden
                $("#pie1").show();//Firmas Orden        Cuando ya tiene Folio, es Orden y las Firmas (del Dr.) deben salir

                var FePre = response[0].Fecha;
                $('#FechaPreOC').val(FePre);
            }

            //var FechaOC = response[0].FechaOC;
            //if (FechaOC == null || FechaOC == '') {
            //    document.getElementById("FechaOC1").innerHTML = "Fecha Pre-O.C";
            //    $('#FechaOC').html(response[0].Fecha);
            //} else {
            //    document.getElementById("FechaOC1").innerHTML = "Fecha O.C";
            //    $('#FechaOC').html(response[0].FechaOC);
            //}

            //$('#FechaOC').html(response[0].Fecha);
            $('#Fecha').html(response[0].Fecha1);
            $('#PROV').html(response[0].NombreProveedor);
            $('#UsElaboro').html(response[0].NombreUsu);
            $('#Us').html(response[0].Usuario);
            $('#Total_OC1').html(response[0].Total_OC);
            //$('#Total_OC').html(response[0].Total_OC);
            $('#TXTdescripcion').html(response[0].DescripcionOC);
            $('#FRequi').html(response[0].FolioRequisicion);
            $('#ProvNom').html(response[0].NombreProveedor);
            $('#ProvDir').html(response[0].DirProv);
            $('#ProvTel').html(response[0].TelProv);
            $('#ProvUanl').html(response[0].UanlProv);

            $('#ProvUanl1').html(response[0].UanlProv);
            $('#ProvNom1').html(response[0].NombreProveedor);

            //Texto que se muestra debajo de la tabla del Detalle de la OC (con decimales)
            var GranTotalModal = response[0].Total_OC;
            const formato = new Intl.NumberFormat('es-MX', { maximumFractionDigits: 2 });
            document.getElementById("Total_OC").innerHTML = "Gran Total $" + formato.format(GranTotalModal);
            //document.getElementById("Total_OC").innerHTML = "Gran Total $" + GranTotalModal.toFixed(2);

            $('#FRequiEncabezado').html(response[0].FolioRequisicion);
            $('#FechaEncabezado').html(response[0].Fecha1);

            var FA = response[0].FechaAcuse;
            if (FA == null || FA == "") {
                $("#InputFA1").hide();
                $("#InputFA111").hide();
                //$("#divAcuse").show();

                $("#TDacuse").css("display", "none");

            } else {
                $("#InputFA1").show();
                $("#InputFA11").show();
                $('#InputFA').html(FA);
                $('#InputFA11').html(FA);
                //$("#divAcuse").hide();
            }

            var CON = response[0].NumContrato;
            if (CON == null || CON == "") {
                $("#LabelContrato").hide();
                $("#InputCon").hide();
                //$("#divContrato").show();//Donde aparece en el Modal para poner el Contrato
                $("#InputContratoDT").hide();//Label del Contrato del Datatable (solo se muestra al exportar a Excel)
            } else {
                //$("#InputContrato").hide();//Donde aparece en el Modal para poner el Contrato (INPUT)
                $("#LabelContrato").show();
                $('#InputCon').html(CON);
                $("#InputCon").show();
                //$("#divContrato").hide();//Donde aparece en el Modal para poner el Contrato
                $("#InputConDT").show();
                $('#InputConDT').html(CON);//Dato del Contrato del Datatable (solo se muestra al exportar a Excel)
            }

            $('#FechaAutoriza').html(response[0].FechaAutorizaOC);
            $('#UsuAutoriza').html(response[0].UsuarioAutorizaOC);

	    var CO = response[0].NumContrato;
            $('#Num_Contrato').val(CO);

            LlenDetalle(response);

        }).fail(function (response) {
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
            });
        });

        function LlenDetalle(Lista) {
            var t = $('#tblDetalleOC').DataTable({
                destroy: true,
                searching: false,
                responsive: true,
                lengthChange: false,
                paging: false,
                //scrollX: true,
                data: Lista,
                "order": [[1, 'asc']],
                language: {
                    "zeroRecords": " ",
                    "search": "",
                    "info": "Total _TOTAL_ ",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    },
                    "select": {
                        "rows": " %d filas seleccionadas"
                    },
                },
                columns: [
                    { "data": "Clave", className: "text-center" },
                    { "data": "Clave", className: "text-center" },
                    { "data": "Descripcion", className: "text-center" },
                    { "data": "Cantidad", className: "text-center" },
                    { "data": "PrecioUnitario", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') },
                    { "data": "Total", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') },
                    {
                        "data": null, render: function (data, type, row) {
                            if (row.OC_PorValidar != "3" || row.OC_PorValidar != 3) {
                                return '<button title="Eliminar Partida" id="BtnDeletePartida" class="btn btn-danger btn-sm fa fa-times" data-toggle="modal"></button>';
                            } else {
                                return '';
                            }
                        }
                    }
                ],
                columnDefs: [
                    {
                        searchable: false,
                        orderable: false,
                        targets: 0,
                    },
                ],
            });
            t.on('order.dt search.dt', function () {
                let i = 1;

                t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        }

        //$('#DetalleOCModal').on('hidden.bs.modal', function () {
        //    location.reload();
        //})
    });

    function VerDetalle(IdOC, ClaveRequi) {

        $('#DetalleOCModal').modal("show");

        var array = { Id_OC: IdOC, FolioRequi: ClaveRequi  };
        var url = '@Url.Action("ObtenerDetalleOC_Generada", "OrdenCompra")';
        $.post(url, array).done(function (response) {

            FolioOC = response[0].Folio;
            if (FolioOC == null || FolioOC == '') {
                document.getElementById("ClaveOC1").innerHTML = "Identificador";
                $('#ClaveOC').html(response[0].Id_OC);

                document.getElementById("Clave1").innerHTML = "Identificador";
                $('#Clave').html(response[0].Id_OC);

                document.getElementById("TitutloModal").innerHTML = "PRE-ORDEN DE COMPRA";

                document.getElementById("FechaOC1").innerHTML = "Fecha Pre-Orden";
                $('#FechaOC').html(response[0].Fecha);

                document.getElementById("Fecha11").innerHTML = "Fecha Pre-Orden";
                $('#Fecha1').html(response[0].Fecha);

                $("#pie").show();//Firmas Pre-Orden     Cuando no tiene Folio, es Pre-Orden y las Firmas que deben salir son Quien Realizo y Quien Autorizo
                $("#pie1").hide();//Firmas Orden

            } else {
                $("#ClaveOC1").show();
                $('#ClaveOC').html(response[0].Folio);

                $("#Clave1").show();
                $('#Clave').html(response[0].Folio);

                document.getElementById("TitutloModal").innerHTML = "ORDEN DE COMPRA";

                document.getElementById("FechaOC1").innerHTML = "Fecha";
                $('#FechaOC').html(response[0].FechaOC);

                document.getElementById("Fecha11").innerHTML = "Fecha";
                $('#Fecha1').html(response[0].FechaOC);

                $("#pie").hide();//Firmas Pre-Orden
                $("#pie1").show();//Firmas Orden        Cuando ya tiene Folio, es Orden y las Firmas (del Dr.) deben salir

                var FePre = response[0].Fecha;
                $('#FechaPreOC').val(FePre);
            }

            $('#Fecha').html(response[0].Fecha1);
            $('#PROV').html(response[0].NombreProveedor);
            $('#UsElaboro').html(response[0].NombreUsu);
            $('#Us').html(response[0].Usuario);
            $('#Total_OC1').html(response[0].Total_OC);

            $('#TXTdescripcion').html(response[0].DescripcionOC);
            $('#FRequi').html(response[0].FolioRequisicion);
            $('#ProvNom').html(response[0].NombreProveedor);
            $('#ProvDir').html(response[0].DirProv);
            $('#ProvTel').html(response[0].TelProv);
            $('#ProvUanl').html(response[0].UanlProv);

            $('#ProvUanl1').html(response[0].UanlProv);
            $('#ProvNom1').html(response[0].NombreProveedor);

            //Texto que se muestra debajo de la tabla del Detalle de la OC (con decimales)
            var GranTotalModal = response[0].Total_OC;
            const formato = new Intl.NumberFormat('es-MX', { maximumFractionDigits: 2 });
            document.getElementById("Total_OC").innerHTML = "Gran Total $" + formato.format(GranTotalModal);

            $('#FRequiEncabezado').html(response[0].FolioRequisicion);
            $('#FechaEncabezado').html(response[0].Fecha1);

            var FA = response[0].FechaAcuse;
            if (FA == null || FA == "") {
                $("#InputFA1").hide();
                $("#InputFA111").hide();
                //$("#divAcuse").show();
                $("#InputFA").hide();//Se oculta el dato una vez que el usuario haya eliminado el Acuse con el boton

                $("#TDacuse").css("display", "none");
            } else {
                $("#InputFA1").show();
                $("#InputFA11").show();
                $('#InputFA').html(FA);
                $('#InputFA11').html(FA);
                //$("#divAcuse").hide();
            }

            var CON = response[0].NumContrato;
            if (CON == null || CON == "") {
                $("#LabelContrato").hide();
                $("#InputCon").hide();
                $("#InputContratoDT").hide();//Label del Contrato del Datatable (solo se muestra al exportar a Excel)
            } else {
                $("#LabelContrato").show();
                $('#InputCon').html(CON);
                $("#InputCon").show();
                $("#InputConDT").show();
                $('#InputConDT').html(CON);//Dato del Contrato del Datatable (solo se muestra al exportar a Excel)
            }

            $('#FechaAutoriza').html(response[0].FechaAutorizaOC);
            $('#UsuAutoriza').html(response[0].UsuarioAutorizaOC);

            var CO = response[0].NumContrato;
            $('#Num_Contrato').val(CO);

            LlenDetalle(response);

        }).fail(function (response) {
            Swal.fire({
                icon: 'error',
                title: '¡Error!',
            });
        });

        function LlenDetalle(Lista) {
            var t = $('#tblDetalleOC').DataTable({
                destroy: true,
                searching: false,
                responsive: true,
                lengthChange: false,
                paging: false,
                data: Lista,
                "order": [[1, 'asc']],
                language: {
                    "zeroRecords": " ",
                    "search": "",
                    "info": "Total _TOTAL_ ",
                    "infoEmpty": "",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    },
                    "select": {
                        "rows": " %d filas seleccionadas"
                    },
                },
                columns: [
                    { "data": "Clave", className: "text-center" },
                    { "data": "Clave", className: "text-center" },
                    { "data": "Descripcion", className: "text-center" },
                    { "data": "Cantidad", className: "text-center" },
                    { "data": "PrecioUnitario", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') },
                    { "data": "Total", className: "text-center", render: $.fn.dataTable.render.number(',', '.', 2, '$  ', ' ') },
                    {
                        "data": null, render: function (data, type, row) {
                            if (row.OC_PorValidar != "3" || row.OC_PorValidar != 3) {
                                return '<button title="Eliminar Partida" id="BtnDeletePartida" class="btn btn-danger btn-sm fa fa-times" data-toggle="modal"></button>';
                            } else {
                                return '';
                            }
                        }
                    }
                ],
                columnDefs: [
                    {
                        searchable: false,
                        orderable: false,
                        targets: 0,
                    },
                ],
            });
            t.on('order.dt search.dt', function () {
                let i = 1;

                t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                    this.data(i++);
                });
            }).draw();
        }
    }

    $('#tblDetalleOC tbody').on('click', '#BtnDeletePartida', function () {
        var tr = $(this).closest('tr');
        var row = $('#tblDetalleOC').DataTable().row(tr);
        var Id_DetOc = row.data().IdDetOC;
        var Id_OC = row.data().Id_OC;

        $.ajax({
            url: '@Url.Action("EliminarPartidaOC", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            data: { Id_OC: Id_OC, Id_DetOc: Id_DetOc },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: data.MENSAJE.substring(7),
                        willClose: () => {
                            location.reload();
                        }
                    });
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });

    });

    $('#tbl_OCgeneradas tbody').on('click', '#botonDelete', function () {
        var tr = $(this).closest('tr');
        var row = $('#tbl_OCgeneradas').DataTable().row(tr);
        var Id = row.data().Id_OC;

        @*$.ajax({
            url: '@Url.Action("EliminarOC", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            data: { Id_OC: Id },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: data.MENSAJE.substring(7),
                        willClose: () => {
                            location.reload();
                        }
                    });
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });*@
        //-----------------------------------------------------------
        Swal.fire({
            title: '¿Desea eliminar?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '@Url.Action("EliminarOC", "OrdenCompra")',
                    method: 'POST',
                    dataType: 'json',
                    data: { Id_OC: Id },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Succe:") {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                willClose: () => {
                                    location.reload();
                                }
                            });
                        }
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7),
                            });
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                        });
                    }
                });
            }
        });

    });

    $('#btnGenerar_OC').on('click', function () {

        event.preventDefault(); // Prevenir el envío del formulario

        var Id_OC = $("#Id_OC").val();
        var Folio_Requi = $("#Folio_Requi").val();
        var Contrato = $("#Num_Contrato").val();

        $.ajax({
            url: '@Url.Action("HACER_OC", "OrdenCompra")',
            method: 'POST',
            dataType: 'json',
            data: { Id_OC: Id_OC, Folio_Requi: Folio_Requi, NumContrato:Contrato },
            success: function (data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: data.MENSAJE.substring(7),
                        willClose: () => {
                            location.reload();
                        }
                    });
                }
                if (data.MENSAJE.substring(0, 6) == "Error:") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops... ¡Error!',
                        text: data.MENSAJE.substring(7),
                    });
                }
            },
            error: function (ex) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Error!',
                });
            }
        });
    });

    $('#datepicker').datepicker({
        locale: 'es-es',
        showOtherMonths: true,
        format: 'dd/mm/yyyy'
    });

    //Guardar Acuse
    $("#datepicker input").change(function () {
        var FechaAcuse = $(this).val()
        var Id_OC = $("#Id_OC").val();
        var Id_Requi = $("#Folio_Requi").val();

        var d = new Date(); // for now
        var h = d.getHours();
        h = (h < 10) ? ("0" + h) : h;
        var m = d.getMinutes();
        m = (m < 10) ? ("0" + m) : m;
        var s = d.getSeconds();
        s = (s < 10) ? ("0" + s) : s;

        FechaAcuse = FechaAcuse + " " + h + ":" + m + ":" + s;

        Swal.fire({
            title: '¿Desea guardar el Vencimiento?',
            text: FechaAcuse,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: '@Url.Action("GuardarFecha_Acuse", "OrdenCompra")',
                    method: 'POST',
                    dataType: 'json',
                    data: { Id_OC: Id_OC, FechaAcuse: FechaAcuse },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Succe:") {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                showConfirmButton: true,
                                willClose: () => {
                                    //location.reload();
                                    VerDetalle(Id_OC, Id_Requi);
                                }
                            });
                        }
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7),
                            });
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                        });
                    }
                });
            }
        });
    });

    $('.Buscar').on("keypress", function (e) {
        if (e.keyCode == 13) {
            var Contrato = $(this).val();
            GuardarContrato(Contrato);
            return false;
        }
    });

    function GuardarContrato(Contrato) {

        var Id_OC = $("#Id_OC").val();
        var Id_Requi = $("#Folio_Requi").val();

        Swal.fire({
            title: '¿Desea guardar el Contrato?',
            text: Contrato,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("GuardarContrato", "OrdenCompra")',
                    method: 'POST',
                    dataType: 'json',
                    data: { Id_OC: Id_OC, Contrato: Contrato },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Succe:") {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                showConfirmButton: true,
                                willClose: () => {
                                    //location.reload();
                                    VerDetalle(Id_OC, Id_Requi);
                                }
                            });
                        }
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7),
                            });
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                        });
                    }
                });
            }
        });
    }

    function EliminarAcuse() {

        var Id_OC = $("#Id_OC").val();
        var Id_Requi = $("#Folio_Requi").val();

        Swal.fire({
            title: '¿Desea eliminar el Vencimiento?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("EliminarAcuse", "OrdenCompra")',
                    method: 'POST',
                    dataType: 'json',
                    data: { Id_OC: Id_OC },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Succe:") {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                showConfirmButton: true,
                                willClose: () => {
                                    VerDetalle(Id_OC, Id_Requi);
                                }
                            });
                        }
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7),
                            });
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                        });
                    }
                });
            }
        });
    }

    function EliminarContrato() {

        var Id_OC = $("#Id_OC").val();
        var Id_Requi = $("#Folio_Requi").val();

        Swal.fire({
            title: '¿Desea eliminar el Contrato?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("EliminarContrato", "OrdenCompra")',
                    method: 'POST',
                    dataType: 'json',
                    data: { Id_OC: Id_OC },
                    success: function (data) {
                        if (data.MENSAJE.substring(0, 6) == "Succe:") {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Éxito!',
                                text: data.MENSAJE.substring(7),
                                showConfirmButton: true,
                                willClose: () => {
                                    VerDetalle(Id_OC, Id_Requi);
                                }
                            });
                        }
                        if (data.MENSAJE.substring(0, 6) == "Error:") {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops... ¡Error!',
                                text: data.MENSAJE.substring(7),
                            });
                        }
                    },
                    error: function (ex) {
                        Swal.fire({
                            icon: 'error',
                            title: '¡Error!',
                        });
                    }
                });
            }
        });
    }

    function Regresar() {
        window.location = '@Url.Action("OrdenCompra")';
    }

</script>

<style>
    .modal-backdrop {
        background-color: rgba(0,0,0,0.4) !important;
    }

    .imprimirUanl img {
        width: 65%;
    }

    .imprimirLogo img {
        width: 100%;
    }

    #pie {
        margin-top: 250px !important;
    }

    #firmas td {
        border: 1px solid black;
    }

    div > a {
        font-size: 12px;
    }

    .emphasized {
        font-style: italic;
    }

    @@media print {
        .imprimir {
            display: none;
        }

        .imprimir2 {
            display: none;
        }

        #Xcel2 {
            display: none;
        }

        #firmas td {
            border: 1px solid black;
        }

        .btnss {
            display: none;
        }

        #divAcuse {
            display: none;
        }

        #divContrato {
            display: none;
        }

        #BtnDeletePartida {
            display: none;
        }

        div > a {
            font-size: 15px;
        }

        div > h6, h10 {
            font-weight: bold;
            font-family: Roboto, Helvetica, Arial, sans-serif;
        }

        .emphasized {
            font-style: italic;
        }

        /*TituloProveedor*/
        #Moddal h6 {
            font-size: 21px
        }

        /*Info proveedor*/
        #Moddal a {
            font-size: 18px
        }

        /*Titulo Contrato-req-vencimiento*/
        #Moddal h10 {
            font-size: 20px
        }

        /*Titulo OC-PREORDEN*/
        #Moddal h5 {
            font-size: 20px
        }

        /*Contrato*/
        #InputCon {
            font-size: 17px
        }

        #divBtnEliminar {
            display: none;
        }

        .table-bordered {
            border: 2px solid #9a9898; /* Aumenta el ancho del borde principal de la tabla */
            border-collapse: separate; /* Asegura que los bordes no se fusionen */
        }

            .table-bordered td {
                border: 1px solid #9a9898; /* Ancho y color del borde de las celdas */
            }

            .table-bordered tr {
                border-bottom: 2px solid #9a9898; /* Ancho y color del borde inferior de cada fila */
            }

            .table-bordered thead {
                border-bottom: 2px solid #9a9898; /* Ancho y color del borde inferior del encabezado */
            }

    }

</style>